////
/// Paragraph editor block.
///
/// @group  Editor
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

// Bump out width via negative margins for paragraph block.

.wp-block-paragraph {
	font-size: inherit;
	line-height: inherit;

	&.is-style-highlight,
	&.is-style-shadow,
	&.has-background {
		margin-left:  -#{ $spacing-global };
		margin-right: -#{ $spacing-global };
	}
}

.wp-block-columns .wp-block-paragraph {
	&.is-style-highlight,
	&.is-style-shadow,
	&.has-background {
		margin-left:  0;
		margin-right: 0;
	}
}
