

.has-drop-cap::first-letter {
	float: left;
	line-height: 1;
	font-size: calc( 2em * 1.73 );
	font-weight: 600;
	margin: 0 0.125em 0 0;
	text-transform: uppercase;
}

@media ( max-width: $content-width-padded ) {

	.entry__content > p.has-background,
	.entry__content > p.is-style-highlight,
	.entry__content > p.is-style-shadow {
		//	margin-left: 0;
		//	margin-right: 0;
	}
}

p.has-background,
p.is-style-highlight {
	box-sizing: content-box;
}

.wp-block-columns p.has-background,
.wp-block-columns p.is-style-highlight {
	box-sizing: border-box;
}

.is-style-highlight {
	background:       var( --gray-100 );
	background-image: linear-gradient( rgba(0, 0, 0, 0.25) 8px, 8px, transparent 100% );
}
