////
/// Editor overrides.
///
/// Styles that override items in the block editor.
///
/// @group  Editor
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

body {
	overflow-x: hidden;
}

.block-editor-block-list__layout.is-root-container {

	&.is-outline-mode > * {
		max-width: 100% !important;
	}

	> .wp-block[data-align=full] {
		margin-left: 0;
		margin-right: 0;
	}
}


.wp-block[data-align="wide"] {
	max-width: $width-alignwide;
	margin-left: auto;
	margin-right: auto;
}


// Fixes misalignment of image in editor.
[data-align="full"] .wp-block-image,
[data-align="wide"] .wp-block-image {
	display: block;
}

.is-root-container {

	.wp-block[data-align=left],
	.wp-block[data-align=right] {
		[data-block] {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	.wp-block[data-align="left"] .editor-block-list__block-edit {
		margin-right: 1.5em;
		margin-bottom: 0.25em;
	}

	.wp-block[data-align="right"] .editor-block-list__block-edit {
		margin-left: 1.5em;
		margin-bottom: 0.25em;
	}
}


// Editor post title.
.edit-post-visual-editor__post-title-wrapper .editor-post-title {
	margin: 0;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.editor-post-title__block {
	margin: 0;
	padding: 0;
}

.editor-post-title__block .editor-post-title__input,
.editor-post-title__block .editor-post-title__input:focus {
	font-size:         2.5rem;
	line-height: 1;
	font-family:       var( --wp--preset--font-family--headings );

	letter-spacing: 1px;
	text-align: left;

	padding: 0;
    margin: 0;
    height: auto;

	@media only screen and ( min-width: #{ $width-alignwide } ) {
		line-height:       1.25;
		font-size:         3rem;
		max-width    : $width-alignwide;
	}
}

[data-align=full] > [data-align]:first-child > [class*=wp-block]:first-child {
	margin-top: 0;
}

.is-root-container > :first-child,
.is-root-container > [data-align]:first-child > [class*=wp-block]:first-child,
.is-root-container > .block-editor-block-list__block:first-child > :first-child,
.is-root-container > style:first-child + [data-align] > :first-child,
.wp-block-cover__inner-container > style:first-child + [class*=wp-block],
.wp-block-template-part > style:first-child + [class*=wp-block],
.wp-block-spacer + [data-align] > :first-child,
.wp-block-group > [data-align]:first-child > :first-child,
.wp-block-group > style:first-child + .wp-block-group,
.wp-block-group > style:first-child + [data-align] > :first-child,
[data-align=full] + [data-align=full] > [class*=wp-block]:first-child,
[data-align=full] > [class*=wp-block]:first-child > [data-align=full]:first-child > [class*=wp-block]:first-child,
[data-align=full] + [style*=hidden] + [data-align=full] > [class*=wp-block]:first-child,
[data-align=full] + [style*=hidden] + style + [data-align=full] > [class*=wp-block]:first-child,
[data-align=full] + style + [data-align=full] > [class*=wp-block]:first-child,
[data-align=full] + style + style + [data-align=full] > [class*=wp-block]:first-child,
[data-align=full] + style + [style*=hidden] + [data-align=full] > [class*=wp-block]:first-child,
[data-align=full] + style + [style*=hidden] + style + [style*=hidden] + [data-align=full] > [class*=wp-block]:first-child {
	margin-top: 0;
}
