////
/// Editor overrides.
///
/// Styles that override items in the block editor.
///
/// @group  Editor
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.is-root-container {
	//overflow-x: hidden;
}

.block-editor-block-list__layout.is-root-container {

	&.is-outline-mode > * {
		max-width: 100% !important;
	}

	> .wp-block[data-align=full] {
		margin-left: 0;
		margin-right: 0;
	}
}


.wp-block[data-align="wide"] {
	max-width: $width-alignwide;
	margin-left: auto;
	margin-right: auto;
}

.wp-block[data-align] > [class*="wp-block"]:not( [style*="margin-top:"] ):not( [style*="margin:"] ) {
	margin-top: $spacing-global;
}

[data-align=full] + [data-align=full] > :first-child:not( [style*="margin-top:"] ):not( [style*="margin:"] ),
.wp-block[data-align=full] + style + .wp-block[data-align=full] > :first-child:not( [style*="margin-top:"] ),
.wp-block[data-align=full] + style + style + .wp-block[data-align=full] > :first-child:not( [style*="margin-top:"] ),
.wp-block style:first-child + [data-align] > :first-child:not( [style*="margin-top:"] ),
:not( .wp-block[data-align] ) > .wp-block:first-child:not( [style*="margin-top:"] ):not( [style*="margin:"] ),
.wp-block:first-of-type > [class*="wp-block-"]:first-of-type:not(.wp-block):not( [style*="margin-top:"] ):not( [style*="margin:"] ),
.wp-block[data-align]:first-child > :first-child:not( [style*="margin-top:"] ):not( [style*="margin:"] ) {
	margin-top: 0;
}

:first-child,
[style*=hidden]:first-child + .wp-block,
style:first-child + .wp-block,
style:first-child + [style*=hidden] + .wp-block,
[style*=hidden]:first-child + style .wp-block,
[style*=hidden]:first-child + style + [data-align] :first-child:not( [style*="margin-top:"] ):not( [style*="margin:"] ),
style:first-child ~ .wp-block:first-of-type {
	margin-top: 0;
}

// see /utilities/_alignments.scss.
.wp-block-spacer + .wp-block[data-align] > :not([style*=margin-top]):not( [style*="margin:"] ) {
	margin-top: 0;
}

// Template parts should never have top margin unless specified.
.wp-block[data-align] > .wp-block-template-part:not( [style*="margin-top:"] ):not( [style*="margin:"] ),
.wp-block-template-part:not( [style*="margin-top:"] ):not( [style*="margin:"] ) {
	margin-top: 0;
}

p,
ul,
ol,
dl,
figure,
blockquote,
form,
hr,
pre,
table {
	&.wp-block.wp-block + .wp-block[data-align] > [class*="wp-block-"]:not( [style*="margin-top:"] ) {
		margin-top: $spacing-global;
	}
}



// Fixes misalignment of image in editor.
[data-align="full"] .wp-block-image,
[data-align="wide"] .wp-block-image {
	display: block;
}

.wp-block.block-list-appender:not(.is-horizontal ) {
//	margin-top: $spacing-global;
}

.is-root-container {

	.wp-block[data-align=left],
	.wp-block[data-align=right] {
		[data-block] {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	.wp-block[data-align="left"] .editor-block-list__block-edit {
		margin-right: 1.5em;
		margin-bottom: 0.25em;
	}

	.wp-block[data-align="right"] .editor-block-list__block-edit {
		margin-left: 1.5em;
		margin-bottom: 0.25em;
	}
}

// Editor post title.
.editor-post-title__block .editor-post-title__input,
.editor-post-title__block .editor-post-title__input:focus {
	font-size:         2.5rem;
	font-family:       var( --wp--preset--font-family--headings );

	letter-spacing: 1px;
	text-align: left;

	@media only screen and ( min-width: #{ $width-alignwide } ) {
		line-height:       1.25;
		font-size:         3rem;
		max-width    : $width-alignwide;
	}
}

.editor-block-list {
	&__layout &__block[data-align=full] {
	//	width: auto;
	//	margin-left: 0;
	//	margin-right: 0;
	}
}
