////
/// Editor overrides.
///
/// Styles that override items in the block editor.
///
/// @group  Editor
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.edit-post-visual-editor.editor-styles-wrapper {
	font-family: font-family( primary );
	font-size:   16px;
	color:       var( --color-primary );
	background:  var( --color-content-background );
}

.editor-writing-flow {
	@include typography;
}

// The editor should conform to the content width.  We also need to add 30px b/c
// of the padding and margin in the editor.
.wp-block {
	max-width: calc( #{ $content-width } + 30px );
	//@include typography;
}

.wp-block[data-align="wide"] {
	max-width: $width-alignwide;
}

.wp-block[data-align="full"] {
	max-width: none;
}

.edit-post-visual-editor.editor-styles-wrapper {

	.wp-block[data-align="left"] .editor-block-list__block-edit {
		margin-right: 1.5em;
		margin-bottom: 0.25em;
	}

	.wp-block[data-align="right"] .editor-block-list__block-edit {
		margin-left: 1.5em;
		margin-bottom: 0.25em;
	}
}

// Editor post title.
.editor-post-title__block .editor-post-title__input,
.editor-post-title__block .editor-post-title__input:focus {
	line-height:       1.58;
	font-size:         3rem;
	font-family:       var( --font-family-headings );
	font-weight:       var( --font-weight-headings,       700    );
	font-style:        var( --font-style-headings,        normal );
	font-variant-caps: var( --font-variant-caps-headings, normal );
	text-transform:    var( --text-transform-headings,    none   );

	letter-spacing: 1px;
	text-align: center;

	@media only screen and ( min-width: #{ $width-alignwide } ) {
	//	font-size: 2.75rem;
		max-width    : $width-alignwide;
	}
}

// Fix for wide/full align in editor.
.edit-post-visual-editor.editor-styles-wrapper .alignwide,
.edit-post-visual-editor.editor-styles-wrapper .alignfull {
	box-sizing: border-box;
	margin-left: 0;
	margin-right: 0;
	max-width: 100%;
}

.editor-block-list {
	&__layout &__block[data-align=full] > &__block-edit figure {
		width: auto;
		margin-left: 0;
		margin-right: 0;
	}
}

.edit-post-visual-editor.editor-styles-wrapper .wp-block[data-align="center"] figure {
	margin-left: auto;
	margin-right: auto;
}

// Overwrite core styles dropped into the footer.

.edit-post-visual-editor .wp-block-paragraph {
	margin: 0 0 $spacing-global;
}

.edit-post-visual-editor .block-library-list ul,
.edit-post-visual-editor .block-library-list ol {

	padding-left: 2em;
	margin:       0 0 $spacing-global;

	ul, ol {
		list-style-type:   inherit;
		margin:       0;
		padding-left: $spacing-global;
	}
}
