////
/// Text helper classes.
///
/// @group  Utilities
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

$sizing-unit: 0.125rem;
$sizing-unitless: 0.125;

$font-sizes: (
	base : $sizing-unit * 8,
	lg   : $sizing-unit * 9,  // 1.125
	xl   : $sizing-unit * 10, // 1.25

	2xl  : $sizing-unit * 12, // 1.5
	3xl  : $sizing-unit * 15, // 1.875
	4xl  : $sizing-unit * 18, // 2.25

	5xl  : $sizing-unit * 24, // 3
	6xl  : $sizing-unit * 32, // 4rem
	7xl  : $sizing-unit * 36, // 4.5rem
	8xl  : $sizing-unit * 48, // 6rem
	9xl  : $sizing-unit * 64 // 8rem
);

.has-universal-font-size,
.has-galactic-font-size,
.has-planetary-font-size,
.has-olympic-font-size {
	line-height: 1;
}

.has-titanic-font-size,
h1 { line-height: 3.25rem; }

.has-colossal-font-size,
h2 { line-height: 2.53125rem; } // 2.5

.has-gargantuan-font-size { line-height: 2.25rem; } // 2.25
.has-huge-font-size { line-height: 2rem; } // 2

.has-xl-font-size,
.has-lg-font-size { line-height: 1.75rem; } // 1.75

.has-base-font-size,
.has-sm-font-size { line-height: 1.5rem; } // 1.5

.has-xs-font-size { line-height: 1.25rem; }

@media ( max-width: $screen-xl ) {
	.has-universal-font-size { font-size: $sizing-unit * 56 !important; }
	.has-galactic-font-size { font-size: $sizing-unit * 40 !important; }
}

@media ( max-width: $screen-lg ) {
	.has-universal-font-size { font-size: 6rem   !important; }
	.has-galactic-font-size  { font-size: 4.5rem !important; }
	.has-planetary-font-size { font-size: 4rem   !important; }
	.has-olympic-font-size   { font-size: 3.5rem !important; }
}

@media ( max-width: $screen-md ) {
	.has-universal-font-size { font-size: 4.5rem !important; }
	.has-galactic-font-size  { font-size: 4rem   !important; }
	.has-planetary-font-size { font-size: 3.5rem !important; }
	.has-olympic-font-size   { font-size: 3rem   !important; }

	.has-titanic-font-size,
	h1 {
		font-size: 2.5rem !important;
		line-height: 2.75rem;
	}
}

@media ( max-width: $screen-sm ) {

	.has-universal-font-size {
		font-size: 2.75rem !important;
		line-height: 3rem;
	}

	.has-galactic-font-size {
		font-size: 2.5rem !important;
		line-height: 2.75rem;
	}

	.has-planetary-font-size {
		font-size: 2.25rem !important;
		line-height: 2.5rem;
	}

	.has-olympic-font-size {
		font-size: 2rem !important;
	}

	.has-titanic-font-size,
	h1 {
		font-size: 1.75rem !important;
		line-height: 2rem;
	}

	.has-colossal-font-size,
	h2 {
		font-size: 1.5rem !important;
		line-height: 2rem;
	}

	.has-gargantuan-font-size,
	h3 {
		font-size: 1.375rem !important;
		line-height: 1.75rem;
	}

	.has-huge-font-size,
	h4 {
		font-size: 1.25rem !important;
		line-height: 1.75rem;
	}

	.has-xl-font-size,
	h5 {
		font-size: 1.125rem !important;
		line-height: 1.75rem;
	}
}

/// Text decoration.

$text-decoration: (
	underline:    underline,
//	line-through: line-through,
	no-underline: none
);

@each $name, $value in $text-decoration {
	.#{ $name },
	.hover\:#{ $name }:hover,
	.focus\:#{ $name }:focus {
		text-decoration: $value;
	}
}


/// Font style.

$font-styles: (
	italic:     italic,
	not-italic: normal
);

@each $font-style-name, $font-style-value in $font-styles {

	.#{ $font-style-name } {
		font-style: #{ $font-style-value };
	}
}

/// Font weight.

$font-weights: (
	font-100: 100,
	font-200: 200,
	font-300: 300,
	font-400: 400,
	font-500: 500,
	font-600: 600,
	font-700: 700,
	font-800: 800,
	font-900: 900
);

@each $name, $value in $font-weights {

	.#{ $name } {
		font-weight: #{ $value };
	}
}

// Line height.

$line-heights: (
	leading-none:    1,
	leading-tight:   1.25,
	leading-snug:    1.375,
	leading-normal:  1.5,
	leading-relaxed: 1.625,
	leading-loose:   1.75
);

@each $name, $value in $line-heights {

	.#{ $name } {
		line-height: #{ $value };
	}
}

/// Text alignment (added in Gutenberg 6.0).
///
/// @todo Rename to `.text-#{ $align }`.

$text-aligns: (
	text-left:   left,
	text-center: center,
	text-right:  right
);

@each $name, $value in $text-aligns {
	.#{ $name } {
		text-align: $value;
	}
}

/// Vertical alignment.

$vertical-align: (
	align-baseline:    baseline,
	align-top:         top,
	align-middle:      middle,
	align-bottom:      bottom,
	align-text-top:    text-top,
	align-text-bottom: text-bottom
);

@each $name, $value in $vertical-align {
	.#{ $name } {
		vertical-align: $value;
	}
}

/// Text colors.
///
/// @todo Rename to `.text-#{ $color }`.

/// If we have a text color, let's use that as the link color as well.  There's
/// no way for us to know if the colors will clash here, so let's keep it simple.

.has-text-color:not(.has-link-color) {

	a:not( .wp-block-button__link ) {
		color: inherit;
	}

	a:not( .wp-block-button__link ):hover,
	a:not( .wp-block-button__link ):focus {
		color:      inherit;
		background: rgba( 255, 255, 255, 0.2 );
	}
}
