////
/// Button block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.wp-block-button {
	margin-bottom: $spacing-global;

	&__link {
		border-radius:   3px;
		display:         inline-block;
		margin:          0;
		padding:         $spacing-half $spacing-global;
		font-family:     font-family( secondary );
		font-size:       1.125rem;
		line-height:     1;
		text-decoration: none;
		white-space:     normal;
		word-break:      break-all;
	}

	&__link:hover,
	&__link:focus {
		text-decoration: underline;
	}
}

// Using `:root` here to overwrite general link rules.
a.wp-block-button__link,
.wp-block-button__link {
	color:      var( --color-content-background );
	background: var( --color-primary );
}

.is-style-squared .wp-block-button__link {
	border-radius: 0;
}

.is-style-outline .wp-block-button__link {
	background: transparent;
	border:     1px solid currentColor;
}

.is-style-outline .wp-block-button__link:not(.has-text-color) {
	color: inherit;
}
