////
/// Button block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

// Using `:root` here to overwrite general link rules.
:root .wp-block-button__link {
	color:      color-rgb( theme-background );
	background: color-rgb( theme-primary );
}

.wp-block-button {
	margin-bottom: $spacing-global;

	&__link,
	&__link:hover,
	&__link:focus {
		border-radius:   3px;
		display:         inline-block;
		margin:          0;
		padding:         $spacing-half $spacing-global;
		font-family:     font-family( secondary );
		font-size:       1.125rem;
		line-height:     1em;
		text-decoration: none;
		white-space:     normal;
		word-break:      break-all;
	}

	&__link:hover,
	&__link:focus {
		text-decoration: underline;
	}

	&.is-style-squared .wp-block-button__link {
		border-radius: 0;
	}

	&.is-style-outline .wp-block-button__link {
		color: inherit;
		background: transparent;
		border: 1px solid color-rgb( theme-primary );
	}
}
