////
/// Columns block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.wp-block-columns {
	display: block;
	margin:  0 -#{ $spacing-half };

	@media ( min-width: $content-width ) {
		display: flex;
		flex-wrap: wrap;
	}

	&.are-vertically-aligned-top {
		align-items: flex-start;
	}

	&.are-vertically-aligned-center {
		align-items: center;
	}

	&.are-vertically-aligned-bottom {
		align-items: flex-end;
	}

	&.alignwide,
	&.alignfull {
		margin-bottom: 0;
		padding: 0 calc( #{ $spacing-global } - #{ $spacing-half } );
	}

	@media ( min-width: $width-alignwide ) {
		&.alignwide {
			margin: 0 calc( -125px + -#{ $spacing-half } );
		}
	}
}

// Individual columns.
.wp-block-column {
	flex: 1;
	margin: 0 $spacing-half $spacing-global;

	&.is-vertically-aligned-top {
		align-self: flex-start;
	}

	&.is-vertically-aligned-center {
		align-self: center;
	}

	&.is-vertically-aligned-bottom {
		align-self: flex-end;
	}

	// We're giving a bottom margin to the entire column, so we want to
	// remove it from the last child. This is to make sure that we're always
	// consistent. Floated images and other items where there's a difference
	// in bottom margin than, say, something like a paragraph can make this
	// inconsistent. Removing this margin and handling it on the column
	// corrects the issue.
	> *:last-child {
		margin-bottom: 0;
	}
}

// Editor specific styling. Make sure columns span correctly.
.editor-inner-blocks {
	flex: 1;
}

// 3-8 columns on larger screens.
@media ( min-width: $content-width ) {

	@for $i from 3 through 8 {

		.has-#{ $i }-columns .wp-block-column {
			width: calc( 100% / #{ $i } - #{ $spacing-global } );
		}
	}
}
