////
/// Columns block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.wp-block-columns {
	display: block;

	@media ( min-width: break( small ) ) {
		display: flex;
	}

	&.alignwide,
	&.alignfull {
		margin-bottom: 0;
	}
}

// Individual columns.
.wp-block-column {
	flex: 1;

	@media ( min-width: break( small ) ) {
		margin-left: $spacing-global;
	}

	&:first-of-type {
		margin-left: 0;
	}
}

// Editor specific styling. Make sure columns span correctly.
.editor-inner-blocks {
	flex: 1;
}
