////
/// File block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.wp-block-file {
	margin-bottom: $spacing-global;

	&.aligncenter {
		text-align: center;
	}

	&.alignright {
		text-align: right;
	}

	&__button {
		color:           color-rgb( theme-background );
		background:      color-rgb( theme-primary );
		border-radius:   3px;
		display:         inline-block;
		margin:          0;
		padding:         0.5em 3em;
		text-decoration: none;
		white-space:     normal;
		word-break:      break-all;

		&:hover,
		&:focus {
			color:           color-rgb( theme-background );
			text-decoration: underline;
		}
	}
}

// Give the file block button some spacing to the left if there's another element
// preceding it.
* + .wp-block-file__button {
	margin-left: 0.75em;
}
