////
/// Gallery block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

// The wrapper element for the entire gallery.
.wp-block-gallery {
	display:         flex;
	flex-wrap:       wrap;
	list-style-type: none;
	padding:         0;
	margin:          0 -#{ $spacing-fourth } $spacing-global -#{ $spacing-fourth };

	&.alignwide,
	&.alignfull {
		padding: 0 calc( #{ $spacing-global } - #{ $spacing-fourth } );
	}

	@media ( min-width: $width-alignwide ) {
		&.alignwide,
		&.alignfull {
			padding: 0 calc( #{ $spacing-global } - #{ $spacing-half } );
		}
	}
}

// Added this nested selector to fix the craptastic CSS that's being spit out in
// Gutenberg 5.3.0 and mucking with margins.
.wp-block-gallery[class*=columns] .blocks-gallery-item {
	margin: $spacing-fourth;
}

// The wrapper for individual gallery images/figures.
.blocks-gallery-item {
	display:         flex;
	flex-grow:       1;
	flex-direction:  column;
	justify-content: center;
	position:        relative;

	// Image figure.
	figure {
		margin:          0;
		height:          100%;
		display:         flex;
		align-items:     flex-end;
		justify-content: flex-start;
	}

	img {
		display:   block;
		max-width: 100%;
		height:    auto;
		width:     auto;
	}

	figcaption {
		box-sizing: border-box;
		position:   absolute;
		bottom:     0;
		width:      100%;
		max-height: 100%;
		padding:    40px $spacing-half $spacing-fourth;
		font-size:  16px;
		text-align: center;
		color:      var( --color-white );
		background: linear-gradient(
			0deg,
			rgba( 0, 0, 0, 0.7 ) 0,
			rgba( 0, 0, 0, 0.3 ) 60%,
			transparent
		);

		a {
			color: inherit;
		}

		a:hover,
		a:focus,
		a:active {
			color:      var( --color-white );
			background: rgba( 255, 255, 255, 0.2 );
		}
	}

	// Our linked images have padding and borders, so we need to adjust this.
	a + figcaption {
		width: calc( 100% - 20px );
		margin: 0 10px 10px;
	}
}

// Cropped images.
.is-cropped .blocks-gallery-item {
	a,
	img {
		flex:       1;
		width:      100%;
		height:     100%;
		object-fit: cover;
	}
}

// Fallback to 2 columns.
.blocks-gallery-item {
	width: calc( 100% / 2 - #{ $spacing-half } );
}

// 1 column.
.columns-1 .blocks-gallery-item {
	width: calc( 100% / 1 - #{ $spacing-half } );
}

// 3-8 columns on larger screens.
@media ( min-width: $content-width ) {

	@for $i from 3 through 8 {

		.columns-#{ $i } .blocks-gallery-item {
			width: calc( 100% / #{ $i } - #{ $spacing-half } );
		}
	}
}
