////
/// Media text block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/mythic
////

.wp-block-media-text {
	display:               grid;
	grid-template-rows:    auto;
	align-items:           center;
	grid-gap:              0 $spacing-global;
	grid-template-areas:
		"media-text-media media-text-content"
		"resizer resizer";
	grid-template-columns: 50% auto;

	&.is-vertically-aligned-top {
		align-items: start;
	}

	&.is-vertically-aligned-center {
		align-items: center;
	}

	&.is-vertically-aligned-bottom {
		align-items: end;
	}

	@media ( max-width: $content-width ) {
		padding: 0 $spacing-global;
	}

	&.alignfull {
		padding: 0 $spacing-global;
	}

	&.alignwide,
	&.alignfull {
		margin-bottom: 0;
	}

	&[class*=background-color],
	&[style*=background-color] {
		margin-bottom: $spacing-global;
		padding: $spacing-global $spacing-global 0;
	}

	&.has-media-on-the-right {
		grid-template-areas:
			"media-text-content media-text-media"
			"resizer resizer";
		grid-template-columns: auto 50%;
	}

	&__media {
		grid-area: media-text-media;
	}

	&__content {
		word-break: break-word;
		grid-area:  media-text-content;
		max-width:  $content-width;
	}

	> figure > img,
	> figure > video {
		max-width:      unset;
		width:          100%;
		vertical-align: middle;
	}

	&.is-image-fill figure {
		height: 100%;
		min-height: 250px;
		background-size: cover;
	}

	// The image is visually hidden but accessible to assistive technologies.
	&.is-image-fill figure > img {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		border: 0;
	}
}

@media ( max-width: $content-width ) {

	.wp-block-media-text.is-stacked-on-mobile {
		grid-template-columns: 100% !important; // Overwrite core's inline style.
		grid-template-areas:
			"media-text-media"
			"media-text-content";
	}
}

@media ( max-width: $width-alignwide ) {

	.wp-block-media-text.is-stacked-on-mobile.alignfull,
	.wp-block-media-text.is-stacked-on-mobile.alignwide {
		grid-template-columns: 100% !important; // Overwrite core's inline style.
		grid-template-areas:
			"media-text-media"
			"media-text-content";
	}
}
