

.has-drop-cap::first-letter {
	float: left;
	line-height: 1;
	font-size: calc( 1em * 2 * 1.76 );
	font-weight: 600;
	margin: 0 0.125em 0 0;
	text-transform: uppercase;
}

p.has-background {
	margin:   0 -#{ $spacing-global } $spacing-global;
	padding:  $spacing-global;
}
