

.has-drop-cap::first-letter {
	float: left;
	line-height: 1em;
	font-size: calc( 1em * 2 * 1.79 );
	font-weight: 600;
	margin-right: 0.125em;
	text-transform: uppercase;
}

p.has-background {
	box-sizing:    border-box;
	width:         calc( 100% + #{ $spacing-2x } );
	margin-left:   -#{ $spacing-global };
	padding:       $spacing-global;
}
