////
/// Separator block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.wp-block-separator {

	&.is-style-wide {
		border-top-width: 4px;
	}

	&.is-style-dashed {
		border-top: 4px dashed var( --color-border );
	}

	&.is-style-dots {
		border-top: 4px dotted var( --color-border );
	}

	&.is-style-double {
		border-top: 6px double var( --color-border );
	}
}
