////
/// Table block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

$table-bg-colors : (
	// subtle-light-gray: var( --color-gray-lightest ), // default
	subtle-pale-green: var( --color-green-lightest ),
	subtle-pale-blue:  var( --color-blue-lightest ),
	subtle-pale-pink:  var( --color-pink-lightest )
);

.wp-block-table {

	&.has-fixed-layout {
		table-layout: fixed;
	}
}

.is-style-stripes tr {
	background: var( --color-gray-lightest );
}

.is-style-stripes td {
	border: none;
}

@each $color-name, $color-value in $table-bg-colors {

	.has-#{ $color-name }-background-color tr {
		background-color: $color-value;
	}
}

.is-style-stripes tr:nth-child( even ) {
	background: transparent;
}
