////
/// Verse block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.wp-block-verse {
	padding:     0;
	line-height: inherit;
	font-family: font-family( 'primary' );
	font-size:   inherit;
	background:  inherit;
	color:       inherit;
	box-shadow:  none;
}
