////
/// Custom mixins.
///
/// @group  Tools
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

// Used for the main content.

@mixin typography {}

@mixin heading-primary {
	text-align: center;

	@media only screen and ( min-width: #{ $width-alignwide } ) {
		max-width: $width-alignwide;
	}
}

@mixin meta {
	font-family: var( --wp--preset--font-family--secondary );
	font-size: 1rem;
}

@mixin meta-links {}

@mixin code-block {
	tab-size      : 4;
	line-height   : inherit;
	box-sizing    : content-box;
}

@mixin button {
	cursor:          pointer;
	display:         inline-block;
	margin:          0;
	padding:         $spacing-half $spacing-global;
	line-height:     1;
	font-family:     var( --wp--preset--font-family--secondary );
	font-size:       1.125rem;
	border:          none;
	border-radius:   0;
	white-space:     normal;
	word-break:      break-all;
	transition:      all 0.5s ease-in-out;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

@mixin screen-reader-text {
	clip:      rect( 1px, 1px, 1px, 1px );
	clip-path: inset( 50% );
	position:  absolute;
	width:     1px;
	height:    1px;
	margin:    -1px;
	overflow:  hidden;
	padding:   0;
	word-wrap: normal;
	border:    none;
}
