////
/// Pullquote block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.wp-block-pullquote {
	margin-top: $spacing-global;

	padding: 2rem 0; // overwrite GB.

	border-top:    4px solid currentColor;
	border-bottom: 4px solid currentColor;

	&.is-style-solid-color {
		border: none;
	}

	blockquote {
		max-width: var( --wp--custom--layout--wide );
		margin: 0 auto;
		font-size: var( --wp--preset--font-size--gargantuan );
		line-height: 1.5;
	}

	cite,
	&__citation { // __citation class for editor.
		display: inline-block;
		margin-top: 1rem;
		font-size: 0.75em;

		// overwrite GB.
		font-style: normal;
		font-variant: small-caps;

		&::before {
			content: "\2014\000A0";
		}
	}

	// overwrite GB.
	p {
		font-size:   inherit;
    		line-height: inherit;
	}

	// Overwriting GB.
	&.is-style-solid-color blockquote {
		text-align: initial;
		max-width:  100%;

		p {
			font-size: inherit;
		}
	}
}
