////
/// Alignment classes.
///
/// Primarily, we use this to build out style rules for the core WordPress
/// `.align*` classes.
///
/// @group  Utilities
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

// Left alignment.
.alignleft {
	float:  left;
	margin: 0 1.5em 0.25em 0;
}

// Right alignment.
.alignright {
	float:  right;
	margin: 0 0 0.25em 1.5em;
}

.alignleft:not(.is-resized),
.alignright:not(.is-resized) {
	max-width: 50%;
}

@media( max-width: break( 'mobile' ) ) {
	.alignleft:not(.is-small),
	.alignright:not(.is-small ) {
		display: block;
		margin:  0 0 $spacing-global;
	}
}

// Center alignment.
.aligncenter {
	display:      block;
	margin-left:  auto;
	margin-right: auto;
	text-align:   center;
	clear:        both;
}

// Align full and wide classes.
.alignwide,
.alignfull,
.aligncenter {
	margin-bottom: $spacing-global;
}

p .alignwide,
p .alignfull,
p .aligncenter {
	margin-bottom: 0;
}

.alignwide,
.alignfull {
	box-sizing:   border-box;
	margin-left:  calc( -100vw / 2 + 100% / 2 );
	margin-right: calc( -100vw / 2 + 100% / 2 );
	max-width:    100vw;
	width:        auto;
}


@media only screen and ( min-width: 900px ) {
	.alignwide {
		margin-left  : -125px;
		margin-right : -125px;
		max-width    : 900px;
	}
}
