////
/// Alignment classes.
///
/// Primarily, we use this to build out style rules for the core WordPress
/// `.align*` classes.
///
/// @group  Utilities
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

@media ( max-width: $content-width-padded ) {

	// Adds the correct left/right margins once we get smaller
	// than the content width. GB cancels out these margins
	// using `auto`, which means everything butts against the
	// side of the screen.
	[class^="wp-container-"][class*="wp-block"] > :not(.alignwide):not(.alignfull) {
		margin-left: $spacing-global !important;
		margin-right: $spacing-global !important;
	}

	[class^="wp-container-"][class*="wp-block"] > .alignwide,
	[class^="wp-container-"][class*="wp-block"] > .alignfull {
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
	}
}



.alignfull {

	// Stack full-aligned elements with no whitespace in
	// between by default.
	//
	// The Group block (maybe others) sometimes has a <style>
	// element that follows, so we want to skip that. The Duotone
	// Image/Cover filter outputs a hidden <svg>, so we're
	// skipping that too. By targeting the "hidden" style, we
	// can cover some other possible use cases.

	+ .alignfull,
	+ [style*=hidden] + .alignfull,
	+ style + .alignfull,
	+ style + style + .alignfull,
	+ style + [style*=hidden] + .alignfull,
	+ [style*=hidden] + svg .alignfull {
		margin-top: 0;
	}
}

// If a user is putting a spacer before a block, let's
// assume they want to control the spacing here.
.wp-block-spacer + :not([style*=margin-top]),
.wp-block-spacer + style + :not([style*=margin-top]) {
	margin-top: 0;
}

// Make stacked images and galleries appear as if
// they were in a single gallery.
.wp-block-image + .wp-block-gallery:not([style*=margin-top]),
.wp-block-image + style + [style*=hidden] + .wp-block-gallery:not([style*=margin-top]),
.wp-block-gallery + .wp-block-gallery:not([style*=margin-top]),
.wp-block-gallery + .wp-block-image:not([style*=margin-top]) {
	margin-top: $spacing-half;
}

.wp-block-image + .wp-block-gallery.is-style-no-gap:not([style*=margin-top]),
.wp-block-image + style + [style*=hidden] + .wp-block-gallery.is-style-no-gap:not([style*=margin-top]),
.wp-block-gallery.is-style-no-gap + .wp-block-gallery.is-style-no-gap:not([style*=margin-top]),
.wp-block-gallery.is-style-no-gap + .wp-block-image:not([style*=margin-top]) {
	margin-top: 0;
}

// Left alignment.
.alignleft {
	float:  left;
	margin-right:  1.5em !important;
	margin-bottom: 0.25em;
}

// Right alignment.
.alignright {
	float:  right;
	margin-left: 1.5em !important;
	margin-bottom: 0.25em;
}

// Align full and wide classes.
.alignwide,
.alignfull,
.aligncenter {
	clear: both;
}

.alignfull,
.alignwide {
	max-width:    100%;
	margin-left:  auto;
	margin-right: auto;
}

.alignwide {
	max-width: var( --wp--custom--layout--wide );
}
