////
/// Alignment classes.
///
/// Primarily, we use this to build out style rules for the core WordPress
/// `.align*` classes.
///
/// @group  Utilities
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

// Left alignment.
.alignleft {
	@media( min-width: break( 'mobile' ) ) {
		float:     left;
		margin:    0 1.5em 1.5em 0;
		max-width: 50%;
	}
}

.alignleft.is-small {
	float:     left;
	margin:    0 1.5em 1.5em 0;
	max-width: 50%;
}

// Right alignment.
.alignright {
	@media( min-width: break( 'mobile' ) ) {
		float:     right;
		margin:    0 0 1.5em 1.5em;
		max-width: 50%;
	}
}

.alignright.is-small {
	float:     right;
	margin:    0 0 1.5em 1.5em;
	max-width: 50%;
}

// Center alignment.
.aligncenter {
	display:      block;
	margin-left:  auto;
	margin-right: auto;
	text-align:   center;
	clear:        both;
}

// Align full and wide classes.
.alignwide,
.alignfull,
.aligncenter {
	margin-bottom: 2em;
}

p .alignwide,
p .alignfull,
p .aligncenter {
	margin-bottom: 0;
}

.alignwide,
.alignfull {
	box-sizing:   border-box;
	margin-left:  calc( -100vw / 2 + 100% / 2 );
	margin-right: calc( -100vw / 2 + 100% / 2 );
	max-width:    100vw;
}


@media only screen and ( min-width: 900px ) {

    .alignwide {
        margin-left  : -125px;
        margin-right : -125px;
        max-width    : 900px;
    }
}
