////
/// Border helper classes.
///
/// @group  Utilities
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

$border-radius: (
	none: $rounded-none,
	sm:   $rounded-sm,
	md:   $rounded-md,
	lg:   $rounded-lg,
	xl:   $rounded-xl
);

/// Used for small images that are possibly something like a smiley, transparent
/// PNG, and so on where we don't want borders.

.is-style-borderless,
.is-style-borderless img {
	border: none;
	outline: none;
	box-shadow: none;
}

/// Rounded block style.
///
/// @deprecated 2.1.0

.is-style-rounded img {
	border-radius: 9999px;
}

// Border Radius.

@each $radius-name, $radius-value in $border-radius {
	.rounded-#{ $radius-name },
	.rounded-#{ $radius-name } img,
	.wp-block-gallery.rounded-#{ $radius-name } figcaption {
		border-radius: #{ $radius-value }
	}
}
