////
/// Border helper classes.
///
/// @group  Utilities
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.border-current {
	border-color: currentColor;
}

$border-width: (
	'':   1px,
	'-0': 0,
	'-2': 0.125rem,
	'-4': 0.25rem,
/*	-8: 0.5rem*/
);

@each $name, $value in $border-width {
	.border#{ $name } {
		border-width: $value;
	}
}

@each $side, $position in ( t: top, r: right, b: bottom, l: left ) {

	@each $name, $value in $border-width {
		.border-#{ $side }#{ $name } {
			border-#{ $position }-width: $value;
		}
	}
}

$border-style: (
	border-solid:  solid,
	border-dashed: dashed,
	border-dotted: dotted,
	border-none:   none
);

@each $name, $value in $border-style {
	.#{ $name } {
		border-style: $value;
	}
}

$border-radius: (
	none: $rounded-none,
	sm:   $rounded-sm,
	md:   $rounded-md,
	lg:   $rounded-lg,
	xl:   $rounded-xl
);

// Border Radius.

@each $radius-name, $radius-value in $border-radius {
	.rounded-#{ $radius-name },
	.wp-block-media-text.rounded-#{ $radius-name } img,
	.wp-block-image.rounded-#{ $radius-name } img,
	.wp-block-gallery.rounded-#{ $radius-name } figcaption {
		border-radius: #{ $radius-value };
	}
}

.rounded-full {
	border-radius: 50%;
}
