////
/// Sizing helper classes.
///
/// @group  Utilities
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

// Max width.

.max-w-xs   { max-width: $max-w-xs;   }
.max-w-sm   { max-width: $max-w-sm;   }
.max-w-md   { max-width: $max-w-md;   }
.max-w-lg   { max-width: $max-w-lg;   }
.max-w-xl   { max-width: $max-w-xl;   }
.max-w-2xl  { max-width: $max-w-2xl;  }
.max-w-3xl  { max-width: $max-w-3xl;  }
.max-w-4xl  { max-width: $max-w-4xl;  }
.max-w-5xl  { max-width: $max-w-5xl;  }
.max-w-6xl  { max-width: $max-w-6xl;  }
.max-w-full { max-width: $max-w-full; }
