////
/// Sizing helper classes.
///
/// @group  Utilities
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.fill-current { fill: currentColor; }

$sizing-unit: 0.25rem;

$height: (
	h-0:    0,
	h-1:    $sizing-unit * 1,
	h-2:    $sizing-unit * 2,
	h-3:    $sizing-unit * 3,
	h-4:    $sizing-unit * 4,
	h-5:    $sizing-unit * 5,
	h-6:    $sizing-unit * 6,
	h-8:    $sizing-unit * 8,
	h-10:   $sizing-unit * 10,
	h-12:   $sizing-unit * 12,
	h-16:   $sizing-unit * 16,
	h-20:   $sizing-unit * 20,
	h-24:   $sizing-unit * 24,
	h-32:   $sizing-unit * 32,
	h-40:   $sizing-unit * 40,
	h-48:   $sizing-unit * 48,
	h-56:   $sizing-unit * 56,
	h-64:   $sizing-unit * 64,
	h-full: 100%,
	h-auto: auto
);

/// Width.

$width: (
	w-0:    0,
	w-1:    $sizing-unit * 1,
	w-2:    $sizing-unit * 2,
	w-3:    $sizing-unit * 3,
	w-4:    $sizing-unit * 4,
	w-5:    $sizing-unit * 5,
	w-6:    $sizing-unit * 6,
	w-8:    $sizing-unit * 8,
	w-10:   $sizing-unit * 10,
	w-12:   $sizing-unit * 12,
	w-16:   $sizing-unit * 16,
	w-20:   $sizing-unit * 20,
	w-24:   $sizing-unit * 24,
	w-32:   $sizing-unit * 32,
	w-40:   $sizing-unit * 40,
	w-48:   $sizing-unit * 48,
	w-56:   $sizing-unit * 56,
	w-64:   $sizing-unit * 64,
	w-1\/2: 50%,
	w-1\/3: 33.333333%,
	w-2\/3: 66.666667%,
	w-1\/4: 25%,
	w-2\/4: 50%,
	w-3\/4: 75%,
	w-auto: auto,
	w-full: 100%
);

/// Min width.

$min-width: (
	min-w-0:    0,
	min-w-full: 100%
);

// Max width.

$max-width: (
	max-w-xs:   $max-w-xs,
	max-w-sm:   $max-w-sm,
	max-w-md:   $max-w-md,
	max-w-lg:   $max-w-lg,
	max-w-xl:   $max-w-xl,
	max-w-2xl:  $max-w-2xl,
	max-w-3xl:  $max-w-3xl,
	max-w-4xl:  $max-w-4xl,
	max-w-5xl:  $max-w-5xl,
	max-w-6xl:  $max-w-6xl,
	max-w-7xl:  $max-w-7xl,
	max-w-full: $max-w-full
);

/// Min height.

$min-height: (
	min-h-0:      0,
	min-h-full:   100%,
	min-h-screen: 100vh
);

/// Max height.

$max-height: (
	max-h-full:   100%,
	max-h-screen: 100vh
);

/// Output.

@each $name, $value in $width {
	.#{ $name } {
		width: $value;
	}
}

@each $name, $value in $min-width {
	.#{ $name } {
		min-width: $value;
	}
}

@each $name, $value in $max-width {
	.#{ $name } {
		max-width: $value;
	}
}

@each $name, $value in $height {
	.#{ $name } {
		height: $value;
	}
}

@each $name, $value in $min-height {
	.#{ $name } {
		min-height: $value;
	}
}

@each $name, $value in $max-height {
	.#{ $name } {
		max-height: $value;
	}
}

@each $prefix, $breakpoint in ( sm: $breakpoint-sm, md: $breakpoint-md ) {

	@media ( min-width: $breakpoint ) {

		@each $name, $value in $width {
			.#{ $prefix }\:#{ $name } {
				width: $value;
			}
		}

		@each $name, $value in $min-width {
			.#{ $prefix }\:#{ $name } {
				min-width: $value;
			}
		}

		@each $name, $value in $max-width {
			.#{ $prefix }\:#{ $name } {
				max-width: $value;
			}
		}

		@each $name, $value in $height {
			.#{ $prefix }\:#{ $name } {
				height: $value;
			}
		}

		@each $name, $value in $min-height {
			.#{ $prefix }\:#{ $name } {
				min-height: $value;
			}
		}

		@each $name, $value in $max-height {
			.#{ $prefix }\:#{ $name } {
				max-height: $value;
			}
		}
	}
}
