////
/// Text helper classes.
///
/// @group  Utilities
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

// Text alignment (added in Gutenberg 6.0).

.has-text-align-center {
	text-align: center;
}

.has-text-align-left {
	text-align: left;
}

.has-text-align-right {
	text-align: right;
}

/// Loops through the editor font sizes and adds utility classes for them. This
/// handles the `.has-{$size}-font-size` classes added via Gutenberg, which may
/// be useful elsewhere.

@each $font-size-name, $font-size-value in editor-font-sizes() {

	.has-#{ $font-size-name }-font-size {
		font-size: #{ $font-size-value };
	}
}

/// If we have a text color, let's use that as the link color as well.  There's
/// no way for us to know if the colors will clash here, so let's keep it simple.

.has-text-color {

	a:not( .wp-block-button__link ) {
		color: inherit;
	}

	a:not( .wp-block-button__link ):hover,
	a:not( .wp-block-button__link ):focus {
		color:      inherit;
		background: rgba( 255, 255, 255, 0.2 );
	}
}

/// Loops through the theme colors and adds text color classes for them.

@each $color-name, $color-value in block-colors() {

	// We must specifically set `a.has-{$color-name}-color` so that the
	// various link states keep the same color. This is generally used with
	// things like buttons.

	.has-#{ $color-name }-color,
	a.has-#{ $color-name }-color {
		color: $color-value;
	}

}
