* {
	margin          : 0;
	padding         : 0;
	vertical-align  : baseline;
	outline         : none;
	background      : transparent;
	border          : none;
	text-decoration : none;
	border-style    : solid;
	border-color    : var( --color-border );
	border-width    : 0;
	box-sizing      : border-box;
}

:focus {
	outline: none;
}
