@charset "UTF-8";
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	outline: none;
	background: transparent;
	border: none;
	text-decoration: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
	display: block;
}

:focus {
	outline: none;
}

html {
	font-size: 16px;
	font-family: var(--font-family-primary);
	line-height: 1.667;
	color: rgb( var( --color-theme-primary ) );
}
@media (max-width: 480px) {
	html {
		font-size: 15px;
	}
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	overflow-x: hidden;
}

p {
	margin: 0 0 2.125rem;
}
p:empty {
	margin: 0;
	padding: 0;
	line-height: 0;
}

hr {
	height: 0;
	margin-bottom: 2.125rem;
	border: none;
	border-top: 2px solid rgb( var( --color-border ) );
}

address {
	margin-bottom: 2.125rem;
}

pre,
code {
	direction: ltr;
	text-align: left;
}

code {
	padding: 0.5em;
	font-family: Source Code Pro, Monaco, Consolas, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
	font-size: 0.875em;
	font-style: normal;
	color: inherit;
	background: rgba(214, 224, 231, 0.25);
	border-radius: 3px;
}

pre {
	-moz-tab-size: 4;
	  -o-tab-size: 4;
	     tab-size: 4;
	margin: 0 -2.125rem 2.125rem;
	padding: 2.125rem;
	font-family: Source Code Pro, Monaco, Consolas, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
	font-size: inherit;
	line-height: inherit;
	border: 1px solid rgb( var( --color-border ) );
	box-sizing: border-box;
	overflow: auto;
	word-wrap: normal;
}
pre code {
	padding: 0;
	font-size: 15px;
	background: transparent;
}

.comment__content pre {
	border-left: none;
	border-right: none;
}

label {
	font-family: var(--font-family-secondary);
	font-size: 1rem;
	color: rgb( var( --color-theme-secondary ) );
}

input {
	display: block;
}
input[type=checkbox], input[type=radio] {
	display: inline-block;
}

select,
textarea {
	display: block;
}

input,
select,
textarea {
	box-sizing: border-box;
	padding: 0 0.5em;
	line-height: inherit;
	font-family: var(--font-family-primary);
	font-size: 1em;
	color: inherit;
	background: transparent;
	border: 1px solid rgb( var( --color-border ) );
}

input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
textarea,
select {
	width: 100%;
}

input[type=submit],
input[type=reset],
input[type=button],
button {
	cursor: pointer;
	color: rgb( var( --color-theme-background ) );
	background: rgb( var( --color-theme-primary ) );
	border: none;
	border-radius: 3px;
	display: inline-block;
	margin: 0;
	padding: 1.0625rem 2.125rem;
	font-family: var(--font-family-secondary);
	font-size: 1.125rem;
	line-height: 1em;
	text-decoration: none;
	white-space: normal;
	word-break: break-all;
	transition: all 0.5s ease-in-out;
}
input[type=submit]:hover, input[type=submit]:focus,
input[type=reset]:hover,
input[type=reset]:focus,
input[type=button]:hover,
input[type=button]:focus,
button:hover,
button:focus {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em;
	line-height: 1.58;
	font-family: var(--font-family-headings);
	font-weight: 700;
	color: rgb( var( --color-headings ) );
}

* + h2,
* + h3,
* + h4 {
	margin-top: 1.414em;
}

h1 {
	margin-top: 0;
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.25rem;
}

h5 {
	font-size: 1.125rem;
}

h6 {
	font-size: 1rem;
}

center {
	text-align: center;
}

b,
strong {
	font-weight: 700;
}

b b,
strong strong {
	font-weight: 400;
}

i,
em,
mark,
cite {
	font-style: italic;
}

i i,
em em,
mark mark,
cite cite {
	font-style: normal;
}

abbr[title],
acronym[title],
time[title] {
	cursor: help;
}

abbr,
acronym {
	border-bottom: 1px dotted rgb( var( --color-theme-gray ) );
}

acronym {
	text-transform: uppercase;
}

big {
	font-size: 1.125em;
}

small,
sup,
sub {
	font-size: 0.8125em;
}

sup {
	vertical-align: baseline;
	position: relative;
	bottom: 0.3em;
}

sub {
	vertical-align: baseline;
	position: relative;
	top: 0.3em;
}

del,
s,
strike {
	text-decoration: line-through;
	-webkit-text-decoration-color: rgb( var( --color-primary-link ) );
	        text-decoration-color: rgb( var( --color-primary-link ) );
}

ins {
	border-bottom: 1px dashed rgba( var( --color-theme-green ), 0.5 );
	text-decoration: none;
}

dfn {
	font-style: italic;
	text-decoration: none;
}

a {
	color: rgb( var( --color-primary-link ) );
	text-decoration: underline;
	transition: color 0.5s ease-in-out;
	transition-property: color, background, border;
}
a:hover, a:focus {
	color: rgb( var( --color-primary-link-alt ) );
}

ul,
ol {
	padding-left: 2.125rem;
	margin: 0 0 2.125rem;
}
@media (max-width: 480px) {
	ul,
ol {
		padding-left: 1.0625rem;
	}
}
ul.aligncenter, ul.aligncenter ul,
ol.aligncenter,
ol.aligncenter ul {
	list-style: none;
}

li > ul,
li > ol {
	margin-bottom: 0;
}

dt {
	font-weight: 700;
	font-family: var(--font-family-headings);
}

dd {
	display: list-item;
	margin: 0 0 0.5em 2.125rem;
}
dd + dd {
	margin-top: -0.5em;
}

figure {
	margin-bottom: 2.125rem;
}

figcaption {
	font-family: var(--font-family-secondary);
	font-size: 1rem;
	color: rgb( var( --color-theme-secondary ) );
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	border-radius: 3px;
	box-sizing: border-box;
}

a img {
	padding: 9px;
	border: 1px solid rgba( var( --color-border ), 0.5 );
	box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.05);
}
a img:hover, a img:focus {
	border-color: rgba( var( --color-primary-link ), 0.25 );
}

audio, video, object, embed, iframe {
	width: 100%;
}

blockquote {
	margin: 0;
	padding: 0 2.125rem;
	font-style: italic;
	color: rgb( var( --color-theme-primary ) );
}
blockquote i,
blockquote em,
blockquote cite {
	font-style: normal;
}
blockquote .has-cite {
	margin-top: -1rem;
	text-align: center;
}

cite {
	font-size: 0.875em;
	font-style: normal;
	-webkit-font-feature-settings: "c2sc";
	        font-feature-settings: "c2sc";
	font-variant: small-caps;
}

q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 2.125rem;
}

caption {
	margin: 0 0 5px;
	-webkit-font-feature-settings: "c2sc";
	        font-feature-settings: "c2sc";
	font-variant: small-caps;
}

th,
td {
	padding: 10px;
	box-sizing: border-box;
	vertical-align: top;
	text-align: left;
}
th:empty, th.pad,
td:empty,
td.pad {
	opacity: 0;
}

th {
	font-family: var(--font-family-headings);
	font-size: 16px;
	font-weight: 700;
	text-align: left;
}

td {
	border: 1px solid rgb( var( --color-border ) );
}

.app {
	background: rgb( var( --color-theme-background ) );
}

.app-header {
	display: flex;
	box-sizing: border-box;
	background: rgb( var( --color-header-background ) );
	border-bottom: 1px solid rgba( var( --color-border ), 0.5 );
}
.app-header__branding {
	flex-grow: 1;
	white-space: nowrap;
}
.app-header__title {
	float: left;
	margin: 0;
	padding: 19px 1.5rem 20px;
	font-size: 20px;
	font-family: var(--font-family-headings);
	font-weight: bold;
	line-height: 20px;
	text-align: center;
	background: rgb( var( --color-branding-background ) );
}
.app-header__title-link {
	color: rgb( var( --color-branding ) );
	text-decoration: none;
}
.app-header__title-link:hover, .app-header__title-link:focus {
	color: rgb( var( --color-branding-alt ) );
	text-decoration: underline;
}
.menu--primary {
	position: relative;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	scroll-behavior: smooth;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}
.menu--primary::-webkit-scrollbar {
	display: none;
}
.menu--primary.menu--scroll {
	padding-left: 2rem;
}
.menu--primary.menu--scroll .menu__items {
	text-align: left;
}
.menu--primary.menu--scroll::before {
	content: "\27F7";
	position: absolute;
	line-height: 58px;
	left: 1.25rem;
}

@media (max-width: 650px) {
	.app-header {
		display: block;
	}
	.app-header__title {
		float: none;
		text-align: center;
	}

	.menu--primary {
		border-top: 1px solid rgba( var( --color-border ), 0.5 );
	}
	.menu--primary .menu__items {
		text-align: center;
	}
	.menu--primary.menu--scroll .menu__items {
		text-align: left;
	}
}
.app-content {
	overflow: hidden;
	position: relative;
	max-width: 100%;
	margin: 0 auto;
	padding: 3rem 1.5rem 0;
	word-wrap: break-word;
	word-break: normal;
	box-sizing: border-box;
	font-size: 19px;
	line-height: 1.8;
}

.app-main {
	max-width: 650px;
	margin: 0 auto 3rem;
	box-sizing: border-box;
}

.app-footer {
	padding-bottom: 1.5rem;
}
.app-footer__credit {
	font-family: var(--font-family-secondary);
	font-size: 1rem;
	color: rgb( var( --color-theme-secondary ) );
	margin-bottom: 0.5rem;
	text-align: center;
}

.archive-header {
	margin-bottom: 3rem;
	text-align: center;
}
.archive-header__title {
	letter-spacing: 1px;
	text-align: center;
	margin-bottom: 0.53125rem;
}
@media only screen and (min-width: 950px) {
	.archive-header__title {
		margin-left: -150px;
		margin-right: -150px;
		max-width: 950px;
	}
}
.archive-header__description {
	font-family: var(--font-family-secondary);
	font-size: 1rem;
	color: rgb( var( --color-theme-secondary ) );
	margin: 0;
}

.wp-caption {
	max-width: 100%;
}
.wp-caption-text {
	font-family: var(--font-family-secondary);
	font-size: 1rem;
	color: rgb( var( --color-theme-secondary ) );
}

.comments__list, .comments__list .children {
	list-style: none;
	margin: 0;
	padding: 0;
}
.comments__closed {
	font-family: var(--font-family-secondary);
	font-size: 1rem;
	color: rgb( var( --color-theme-secondary ) );
	text-align: center;
}

.comment--depth-1 > .children {
	padding-left: 2.125rem;
}

.comment--depth-1 {
	margin: 0 -2.125rem 2.125rem;
	padding: 2.125rem 2.125rem 0;
	border: 1px solid rgb( var( --color-border ) );
}
@media only screen and (max-width: 650px) {
	.comment--depth-1 {
		border-width: 0 0 1px;
		margin-bottom: 0;
	}
	.comment--depth-1:first-child {
		border-width: 1px 0;
	}
}
.comment__meta {
	font-family: var(--font-family-secondary);
	font-size: 1rem;
	color: rgb( var( --color-theme-secondary ) );
	padding: 0 0 1.0625rem;
	margin: 0 0 1.0625rem;
	border-bottom: 1px solid rgb( var( --color-border ) );
}
.comment__meta a {
	color: rgb( var( --color-secondary-link ) );
}
.comment__meta a:hover,
.comment__meta a:focus {
	color: rgb( var( --color-secondary-link-alt ) );
}
.comment__avatar {
	float: left;
	margin-right: 1.0625rem;
	border-radius: 50%;
}
.comment__parent {
	font-size: 0.9125em;
}
.comment__parent svg {
	height: 1em;
	vertical-align: text-bottom;
	padding: 0 0.25em 0.1em;
}
.comment__parent-link {
	font-size: 0.9125em;
	display: inline-block;
	margin-bottom: 0.53125rem;
	color: rgb( var( --color-secondary-link-alt ) );
}
.comment-respond {
	margin: 0 -2.125rem 2.125rem;
	padding: 2.125rem 2.125rem 0;
	border: 1px solid rgb( var( --color-border ) );
}
@media only screen and (max-width: 650px) {
	.comments__list + .comment-respond {
		border-width: 0 0 1px;
	}
	.comment-respond + .comment--depth-1 {
		margin-top: -2.125rem;
		border-width: 0 0 1px;
	}
}
.comment-respond__reply-title small {
	font-size: 0.6125em;
}
.comment-respond__form textarea {
	max-height: 230px;
}
.comment-respond__notes, .comment-respond__logged-in-as {
	font-family: var(--font-family-secondary);
	font-size: 1rem;
	color: rgb( var( --color-theme-secondary ) );
}
.comment-respond .required {
	font-weight: bold;
	color: rgb( var( --color-primary-link ) );
}
@media (min-width: 650px) {
	.comment-respond__field--author, .comment-respond__field--email {
		box-sizing: border-box;
		width: 50%;
	}
	.comment-respond__field--author {
		float: left;
		padding-right: 1em;
	}
	.comment-respond__field--email {
		float: right;
		padding-left: 1em;
	}
}
@media only screen and (max-width: 650px) {
	.comment-respond__submit {
		width: 100%;
	}
}
.children .comment-respond {
	margin: 0 -2.125rem 0 -4.25rem;
	border-width: 0;
	border-top-width: 1px;
}

.entry.has-post-thumbnail .entry__header {
	text-align: center;
}
.entry__title {
	margin-bottom: 0.53125rem;
}
.entry__title a {
	color: rgb( var( --color-headings ) );
	text-decoration: none;
}
.entry__title a:hover,
.entry__title a:focus {
	text-decoration: underline;
}
.entry__more-link {
	font-style: italic;
}
.entry__byline, .entry__footer {
	font-family: var(--font-family-secondary);
	font-size: 1rem;
	color: rgb( var( --color-theme-secondary ) );
}
.entry__byline a, .entry__footer a {
	color: rgb( var( --color-secondary-link ) );
}
.entry__byline a:hover,
.entry__byline a:focus, .entry__footer a:hover,
.entry__footer a:focus {
	color: rgb( var( --color-secondary-link-alt ) );
}
.entry__byline {
	margin: 0 0 0.53125rem;
}
.entry.has-post-thumbnail .entry__byline {
	margin-bottom: 2.125rem;
}
.entry__footer {
	margin: 1.0625rem 0 2.125rem;
	text-align: center;
}
.entry__topics a {
	margin: 0 0.25rem;
}

.single .entry__header,
.error-404 .entry__header {
	margin-bottom: 3rem;
	text-align: center;
}
.single .entry__title,
.error-404 .entry__title {
	letter-spacing: 1px;
	text-align: center;
}
@media only screen and (min-width: 950px) {
	.single .entry__title,
.error-404 .entry__title {
		margin-left: -150px;
		margin-right: -150px;
		max-width: 950px;
	}
}
.single .entry__byline,
.error-404 .entry__byline {
	margin: 0;
}

.gallery {
	max-width: 100%;
	display: block;
	clear: both;
	margin: 1.414em 0 1rem;
}
.gallery::after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.gallery-item {
	width: 100%;
	margin: 0;
	padding: 0 0 1rem;
	text-align: center;
	list-style: none;
	border: none;
	background: transparent;
	box-sizing: border-box;
}
@media (min-width: 480px) {
	.gallery-item {
		float: left;
		margin: 0 5% 5px 0;
		width: 47.5%;
	}
}
@media (min-width: 480px) and (max-width: 600px) {
	.gallery-item:nth-child(2n+1) {
		clear: both;
	}
	.gallery-item:nth-child(2n) {
		margin-left: 0;
		margin-right: 0;
	}
}
@media (min-width: 600px) {
	.gallery-columns-2 .gallery-item:nth-child(2n+1), .gallery-columns-3 .gallery-item:nth-child(3n+1), .gallery-columns-4 .gallery-item:nth-child(4n+1) {
		clear: both;
	}
	.gallery-columns-2 .gallery-item:nth-child(2n), .gallery-columns-3 .gallery-item:nth-child(3n), .gallery-columns-4 .gallery-item:nth-child(4n) {
		margin-left: 0;
		margin-right: 0;
	}
	.gallery-columns-3 .gallery-item {
		width: 30%;
	}
	.gallery-columns-4 .gallery-item {
		width: 21.25%;
	}
}
.gallery img {
	width: auto;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}
.gallery-caption {
	font-family: var(--font-family-secondary);
	font-size: 1rem;
	color: rgb( var( --color-theme-secondary ) );
	margin: 0;
	font-size: 0.9375rem;
	box-sizing: border-box;
}

.media-meta__items {
	padding: 0;
	list-style: none;
	font-size: 0.875em;
}
.media-meta__item {
	padding: 0.5em;
	border-bottom: 1px solid rgba( var( --color-border ), 0.5 );
}
@media (min-width: 650px) {
	.media-meta__item {
		display: flex;
	}
}
.media-meta__item:last-of-type {
	border: none;
}
.media-meta__label {
	flex: 1;
	font-weight: bold;
}
.media-meta__data {
	flex: 2;
	text-align: right;
	color: rgb( var( --color-theme-gray ) );
}

.mejs-container {
	margin-bottom: 2.125rem;
}

.menu--primary {
	font-family: var(--font-family-secondary);
	font-size: 16px;
	line-height: 16px;
	color: rgb( var( --color-menu-primary ) );
}
.menu--primary .menu__items {
	margin: 0;
	padding: 0;
}
.menu--primary .menu__item {
	display: inline;
}
.menu--primary .menu__link {
	display: inline-block;
	padding: 21px 1.5rem;
	text-decoration: none;
	color: rgb( var( --color-menu-primary ) );
}
.menu--primary .menu__link:hover, .menu--primary .menu__link:focus {
	text-decoration: underline;
	color: rgb( var( --color-menu-primary-alt ) );
}
.menu--social .menu__items {
	list-style: none;
	text-align: center;
	margin: 0 0 1.5rem;
	padding: 0;
}
.menu--social .menu__item {
	display: inline-block;
}
.menu--social .menu__link {
	display: inline-block;
	margin: 0.5rem;
	color: rgb( var( --color-secondary-link ) );
}
.menu--social .menu__link:hover, .menu--social .menu__link:focus {
	color: rgb( var( --color-secondary-link-alt ) );
}
.menu--social .menu__link svg {
	width: 24px;
	height: 24px;
}

.pagination {
	clear: both;
	overflow: hidden;
	padding: 1.5rem 0 0;
	text-align: center;
	font-family: var(--font-family-secondary);
	font-size: 15px;
}

.pagination__items {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 0;
	/* Get rid of whitespace between inline-block elements. */
	font-size: 0px;
}

.pagination__item {
	display: inline-block;
	margin: 0 -1px 0 0;
	font-size: 15px;
	font-weight: 600;
}

.pagination__anchor {
	display: block;
	padding: 0.375rem 1.125rem;
	border: 1px solid rgb( var( --color-border ) );
	text-decoration: none;
}

.pagination__anchor--link:hover,
.pagination__anchor--link:focus {
	color: rgb( var( --color-theme-background ) );
	background: rgb( var( --color-theme-primary ) );
	border-color: rgb( var( --color-theme-primary ) );
	text-decoration: underline;
}

@media only screen and (max-width: 650px) {
	.pagination__item {
		display: none;
	}

	.pagination__item--current,
.pagination__item--prev,
.pagination__item--next {
		display: inline-block;
	}
}
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	        clip-path: inset(50%);
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	word-wrap: normal;
	border: none;
}
.screen-reader-text:active, .screen-reader-text:focus {
	clip: auto;
	-webkit-clip-path: none;
	        clip-path: none;
	display: block;
	height: auto;
	width: auto;
	z-index: 100000;
	text-decoration: none;
}

@media (min-width: 480px) {
	.alignleft {
		float: left;
		margin: 0 1.5em 0.25em 0;
	}
	.alignleft:not(.is-resized) {
		max-width: 50%;
	}
}

.alignleft.is-small {
	float: left;
	margin: 0 1.5em 0.25em 0;
	max-width: 50%;
}

@media (min-width: 480px) {
	.alignright {
		float: right;
		margin: 0 0 0.25em 1.5em;
	}
	.alignright:not(.is-resized) {
		max-width: 50%;
	}
}

.alignright.is-small {
	float: right;
	margin: 0 0 0.25em 1.5em;
	max-width: 50%;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	clear: both;
}

.alignwide,
.alignfull,
.aligncenter {
	margin-bottom: 2.125rem;
}

p .alignwide,
p .alignfull,
p .aligncenter {
	margin-bottom: 0;
}

.alignwide,
.alignfull {
	box-sizing: border-box;
	margin-left: calc( -100vw / 2 + 100% / 2 );
	margin-right: calc( -100vw / 2 + 100% / 2 );
	max-width: 100vw;
	width: auto;
}

@media only screen and (min-width: 900px) {
	.alignwide {
		margin-left: -125px;
		margin-right: -125px;
		max-width: 900px;
	}
}
.sep {
	margin: 0 0.5em;
}

.is-borderless {
	border: none;
	outline: none;
	box-shadow: none;
}

.is-collapsed {
	margin: 0;
	padding: 0;
}

.alignfull[style*=background-color] + .alignfull[style*=background-color],
.alignfull[style*=background-color] + .alignfull[class*=background-color],
.alignfull[style*=background-color] + .alignfull.wp-block-cover,
.alignfull[class*=background-color] + .alignfull[class*=background-color],
.alignfull[class*=background-color] + .alignfull[style*=background-color],
.alignfull[class*=background-color] + .alignfull.wp-block-cover,
.alignfull.wp-block-cover + .alignfull.wp-block-cover,
.alignfull.wp-block-cover + .alignfull[style*=background-cover],
.alignfull.wp-block-cover + .alignfull[class*=background-cover] {
	margin-top: -2.125rem;
}

/*
[class*=background-color],
[style*=background-color] {

	a:not( .wp-block-button__link ) {
		color: inherit;
	}

	a:not( .wp-block-button__link ):hover,
	a:not( .wp-block-button__link ):focus {
		color:      inherit;
		background: color-rgba( theme-white, 0.2 );
	}
}
*/
.has-text-color a:not(.wp-block-button__link),
.has-text-color a:not(.wp-block-button__link):hover,
.has-text-color a:not(.wp-block-button__link):focus {
	color: inherit;
}

:root .has-theme-background-background-color {
	background-color: rgb( var( --color-theme-background ) );
}

:root .has-theme-background-color {
	color: rgb( var( --color-theme-background ) );
}

:root .has-theme-background-color a:not(.wp-block-button__link):hover,
:root .has-theme-background-color a:not(.wp-block-button__link):focus {
	background: rgba( var( --color-theme-background ), 0.2 );
}

:root .has-theme-primary-background-color {
	background-color: rgb( var( --color-theme-primary ) );
}

:root .has-theme-primary-color {
	color: rgb( var( --color-theme-primary ) );
}

:root .has-theme-primary-color a:not(.wp-block-button__link):hover,
:root .has-theme-primary-color a:not(.wp-block-button__link):focus {
	background: rgba( var( --color-theme-primary ), 0.2 );
}

:root .has-theme-secondary-background-color {
	background-color: rgb( var( --color-theme-secondary ) );
}

:root .has-theme-secondary-color {
	color: rgb( var( --color-theme-secondary ) );
}

:root .has-theme-secondary-color a:not(.wp-block-button__link):hover,
:root .has-theme-secondary-color a:not(.wp-block-button__link):focus {
	background: rgba( var( --color-theme-secondary ), 0.2 );
}

:root .has-theme-black-background-color {
	background-color: rgb( var( --color-theme-black ) );
}

:root .has-theme-black-color {
	color: rgb( var( --color-theme-black ) );
}

:root .has-theme-black-color a:not(.wp-block-button__link):hover,
:root .has-theme-black-color a:not(.wp-block-button__link):focus {
	background: rgba( var( --color-theme-black ), 0.2 );
}

:root .has-theme-white-background-color {
	background-color: rgb( var( --color-theme-white ) );
}

:root .has-theme-white-color {
	color: rgb( var( --color-theme-white ) );
}

:root .has-theme-white-color a:not(.wp-block-button__link):hover,
:root .has-theme-white-color a:not(.wp-block-button__link):focus {
	background: rgba( var( --color-theme-white ), 0.2 );
}

:root .has-theme-red-background-color {
	background-color: rgb( var( --color-theme-red ) );
}

:root .has-theme-red-color {
	color: rgb( var( --color-theme-red ) );
}

:root .has-theme-red-color a:not(.wp-block-button__link):hover,
:root .has-theme-red-color a:not(.wp-block-button__link):focus {
	background: rgba( var( --color-theme-red ), 0.2 );
}

:root .has-theme-green-background-color {
	background-color: rgb( var( --color-theme-green ) );
}

:root .has-theme-green-color {
	color: rgb( var( --color-theme-green ) );
}

:root .has-theme-green-color a:not(.wp-block-button__link):hover,
:root .has-theme-green-color a:not(.wp-block-button__link):focus {
	background: rgba( var( --color-theme-green ), 0.2 );
}

:root .has-theme-blue-background-color {
	background-color: rgb( var( --color-theme-blue ) );
}

:root .has-theme-blue-color {
	color: rgb( var( --color-theme-blue ) );
}

:root .has-theme-blue-color a:not(.wp-block-button__link):hover,
:root .has-theme-blue-color a:not(.wp-block-button__link):focus {
	background: rgba( var( --color-theme-blue ), 0.2 );
}

:root .has-theme-gray-background-color {
	background-color: rgb( var( --color-theme-gray ) );
}

:root .has-theme-gray-color {
	color: rgb( var( --color-theme-gray ) );
}

:root .has-theme-gray-color a:not(.wp-block-button__link):hover,
:root .has-theme-gray-color a:not(.wp-block-button__link):focus {
	background: rgba( var( --color-theme-gray ), 0.2 );
}

:root .has-theme-yellow-background-color {
	background-color: rgb( var( --color-theme-yellow ) );
}

:root .has-theme-yellow-color {
	color: rgb( var( --color-theme-yellow ) );
}

:root .has-theme-yellow-color a:not(.wp-block-button__link):hover,
:root .has-theme-yellow-color a:not(.wp-block-button__link):focus {
	background: rgba( var( --color-theme-yellow ), 0.2 );
}

:root .has-custom-charcoal-background-color {
	background-color: rgb( var( --color-custom-charcoal ) );
}

:root .has-custom-charcoal-color {
	color: rgb( var( --color-custom-charcoal ) );
}

:root .has-custom-charcoal-color a:not(.wp-block-button__link):hover,
:root .has-custom-charcoal-color a:not(.wp-block-button__link):focus {
	background: rgba( var( --color-custom-charcoal ), 0.2 );
}

:root .has-custom-persimmon-background-color {
	background-color: rgb( var( --color-custom-persimmon ) );
}

:root .has-custom-persimmon-color {
	color: rgb( var( --color-custom-persimmon ) );
}

:root .has-custom-persimmon-color a:not(.wp-block-button__link):hover,
:root .has-custom-persimmon-color a:not(.wp-block-button__link):focus {
	background: rgba( var( --color-custom-persimmon ), 0.2 );
}

.has-background-dim::before {
	background-color: inherit;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 0;
	opacity: 0.5;
}

.has-background-dim-10::before {
	opacity: 0.1;
}

.has-background-dim-20::before {
	opacity: 0.2;
}

.has-background-dim-30::before {
	opacity: 0.3;
}

.has-background-dim-40::before {
	opacity: 0.4;
}

.has-background-dim-50::before {
	opacity: 0.5;
}

.has-background-dim-60::before {
	opacity: 0.6;
}

.has-background-dim-70::before {
	opacity: 0.7;
}

.has-background-dim-80::before {
	opacity: 0.8;
}

.has-background-dim-90::before {
	opacity: 0.9;
}

.has-background-dim-100::before {
	opacity: 1;
}

.has-small-font-size {
	font-size: 16px;
}

.has-regular-font-size {
	font-size: 19px;
}

.has-large-font-size {
	font-size: 22px;
}

.has-larger-font-size {
	font-size: 25px;
}

img.wp-smiley,
img.emoji {
	display: inline;
	width: 1em;
	height: 1em;
	margin: 0 0.07em;
	padding: 0;
	vertical-align: -0.1em;
	background: none;
	border: none;
	box-shadow: none;
}
/*# sourceMappingURL=screen-classic.css.map*/