////
/// Image editor block.
///
/// @group  Editor
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

// Image block.  Adds left/right margin because a white block covers the editor
// when using an unaligned image inside of the columns block with wide alignment.

// overwrite GB.
figure.wp-block-image:not(.wp-block) {
	margin-top: var( --wp--custom--spacing--8 );
}

// GB makes this a display: caption, which messes up the text.
.wp-block[data-align] > .wp-block-image > figcaption {
	display: block;
}

.block-core-columns [data-type="core/image"]:not([data-align]) .wp-block-image {
//	display: table;
}

// GB sets img to block, which creates gap below image.
.wp-block-image .components-resizable-box__container img {
	display: inline-block;
}
