

$shadow-none    : none;
$shadow-sm      : 0 2px  5px  0 rgba( 0, 0, 0, 0.3 );
$shadow-md      : 0 4px  10px 0 rgba( 0, 0, 0, 0.3 );
$shadow-lg	: 0 8px  15px 0 rgba( 0, 0, 0, 0.3 );
$shadow-xl	: 0 12px 20px 0 rgba( 0, 0, 0, 0.3 );
$shadow-2xl	: 0 16px 25px 0 rgba( 0, 0, 0, 0.3 );
$shadow-inner	: inset 0 2px 4px 0 rgba( 0, 0, 0, 0.06 );
$shadow-outline	: 0 0 0 3px rgba( 66, 153, 225, 0.5 );
