////
/// Columns block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.wp-block-columns {
	display: flex;
	flex-wrap: nowrap;

	@media ( max-width: $content-width ) {
		flex-wrap: wrap;
	}

	&.alignfull {
		padding-left:  $spacing-global;
		padding-right: $spacing-global;
	}

	&.alignwide,
	&.alignfull {
		margin-bottom: 0;
	}

	@media ( max-width: $width-alignwide + $spacing-2x ) {

		&.alignwide {
			padding-left:  $spacing-global;
			padding-right: $spacing-global;
		}
	}
}

// Remove left/right margin when in a group with padding.
@media ( max-width: $width-alignwide + $spacing-2x ) {

	.wp-block-group.has-background .wp-block-columns {
		margin-left: 0;
		margin-right: 0;
	}
}


.wp-block-column {
	margin-bottom: $spacing-global;
	flex-grow: 1;

	@media ( max-width: $content-width ) {
		// Responsiveness: Show at most one columns on mobile. This must be
		// important since the Column assigns its own width as an inline style.
		flex-basis: 100% !important;
	}

	// Prevent the columns from growing wider than their distributed sizes.
	min-width: 0;

	// Prevent long unbroken words from overflowing.
	word-break: break-word; // For back-compat.
	overflow-wrap: break-word; // New standard.

	@media ( min-width: $content-width ) {

		// flex-basis: calc(50% - #{$spacing-global});
		flex-basis: 50%;
		flex-grow: 0;

		// When columns are in a single row, add space before all except the first.
		&:not(:first-child) {
			margin-left: $spacing-global;
		}
	}

	// We're giving a bottom margin to the entire column, so we want to
	// remove it from the last child. This is to make sure that we're always
	// consistent. Floated images and other items where there's a difference
	// in bottom margin than, say, something like a paragraph can make this
	// inconsistent. Removing this margin and handling it on the column
	// corrects the issue.
	> *:last-child {
		margin-bottom: 0;
	}
}

/**
 * All Columns Alignment
 */
.wp-block-columns {
	&.are-vertically-aligned-top {
		align-items: flex-start;
	}

	&.are-vertically-aligned-center {
		align-items: center;
	}

	&.are-vertically-aligned-bottom {
		align-items: flex-end;
	}
}

/**
 * Individual Column Alignment
 */
.wp-block-column {
	&.is-vertically-aligned-top {
		align-self: flex-start;
	}

	&.is-vertically-aligned-center {
		align-self: center;
	}

	&.is-vertically-aligned-bottom {
		align-self: flex-end;
	}
}
