////
/// Width and height settings.
///
/// @group  Settings
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

$width-alignwide : 900px;
$width-alignfull : 100vw;

$content-width: 650px;

$content-width-padded : calc( #{ $content-width } + 68px );

/// Defines the content width. This should match the theme's `$content_width`
/// setting in `app/functions-setup.php`.
///
/// @since  1.0.0
/// @access public
/// @return {number}  The content width in pixels.

@function content-width() {
	@return 650px;
}
