////
/// Width and height settings.
///
/// @group  Settings
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

$width-alignwide : 56rem;
$width-alignfull : 100vw;

$content-width: 40rem;

$content-width-padded : $content-width + ( $spacing-global * 2 );

$alignwide-padded : $width-alignwide + ( $spacing-global * 2 );

$breakpoint-sm: $content-width + ( $spacing-global * 2 );
$breakpoint-md: $width-alignwide + ( $spacing-global * 2 );

/// Defines the content width. This should match the theme's `$content_width`
/// setting in `app/functions-setup.php`.
///
/// @since  1.0.0
/// @access public
/// @return {number}  The content width in pixels.

@function content-width() {
	@return $content-width;
}
