////
/// Width and height settings.
///
/// @group  Settings
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

$screen-sm  : 640px;
$screen-md  : 768px;
$screen-lg  : 1024px;
$screen-xl  : 1280px;
$screen-2xl : 1536px;

$width-alignwide : 64rem;
$width-alignfull : 100vw;

$content-width: 40rem;

$content-width-padded : $content-width + ( $spacing-global * 2 );

$alignwide-padded : $width-alignwide + ( $spacing-global * 2 );

$breakpoint-sm: $content-width + ( $spacing-global * 2 );
$breakpoint-md: $width-alignwide + ( $spacing-global * 2 );
