

$max-w-xs:   20rem;
$max-w-sm:   24rem;
$max-w-md:   28rem;
$max-w-lg:   32rem;
$max-w-xl:   36rem;
$max-w-2xl:  40rem;
$max-w-3xl:  48rem;
$max-w-4xl:  56rem;
$max-w-5xl:  64rem;
$max-w-6xl:  72rem;
$max-w-7xl:  80rem;
$max-w-full: 100%;
