////
/// Spacing settings.
///
/// @group  Settings
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

$spacing-global   : 2rem;
$spacing-eigth    : $spacing-global * 0.125;
$spacing-fourth   : $spacing-global * 0.25; // 0.5
$spacing-half     : $spacing-global * 0.5; // 1
$spacing-one-five : $spacing-global * 1.5;
$spacing-2x       : $spacing-global * 2;

$step : $spacing-global * 0.125;

$dim-0  : 0;
$dim-1  : $step * 1;
$dim-2  : $step * 2;
$dim-3  : $step * 3;
$dim-3  : $step * 4;
$dim-4  : $step * 5;
$dim-5  : $step * 6;
$dim-8  : $step * 8;
$dim-10 : $step * 10;
$dim-12 : $step * 12;
$dim-16 : $step * 16;
$dim-20 : $step * 20;
$dim-24 : $step * 24;
$dim-32 : $step * 32;
$dim-40 : $step * 40;
$dim-48 : $step * 48;
$dim-56 : $step * 56;
$dim-64 : $step * 64;
