////
/// Pullquote block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.wp-block-post-content {
	margin-top: 0;
	margin-bottom: 0;
}

.post-password-form [type=submit] {
	margin-top: $spacing-global;
}
