////
/// Cover (media) block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/mythic
////

// The cover media `<div>` element. The media is added as a background.
.wp-block-cover {
	margin-top: var( --wp--custom--spacing--8 );
	margin-bottom: 0;

	// Overwrite GB min.
	min-height: 24rem;

	// Need this because navigation dropdown will
	// be covered by the Cover block.
	z-index: 0;

	a {
		color: inherit;

		&:hover,
		&:focus {
			background-color: rgba( 255, 255, 255, 0.15 );
		}
	}

	&.alignright,
	&.alignleft {
		width: 100%;
		max-width: $content-width;
	}

	&.is-style-square {
		aspect-ratio: 1 / 1;
	}

	@media ( min-width: $screen-md ) {
		&.is-style-content-width-25 > .wp-block-cover__inner-container,
		&.is-style-content-width-40 > .wp-block-cover__inner-container,
		&.is-style-content-width-50 > .wp-block-cover__inner-container {
			flex: 0 0 50%;
		}

		&.is-style-content-width-60 > .wp-block-cover__inner-container {
			flex: 0 0 60%;
		}

		&.is-style-content-width-75 > .wp-block-cover__inner-container {
			flex: 0 0 75%;
		}

		&.is-style-content-width-90 > .wp-block-cover__inner-container {
			flex: 0 0 90%;
		}
	}

	@media ( min-width: $screen-lg ) {
		&.is-style-content-width-25 > .wp-block-cover__inner-container {
			flex: 0 0 25%;
		}

		&.is-style-content-width-40 > .wp-block-cover__inner-container {
			flex: 0 0 40%;
		}
	}

	&[class*=is-style-polygon] {
		--polygon-quad-spacer: 0;
		--polygon-quad-1-xy: 0 0;
		--polygon-quad-2-xy: 100% 0;
		--polygon-quad-3-xy: 100% 100%;
		--polygon-quad-4-xy: 0 100%;

		clip-path: polygon(
			var( --polygon-quad-1-xy ),
			var( --polygon-quad-2-xy ),
			var( --polygon-quad-3-xy ),
			var( --polygon-quad-4-xy )
		);
	}

	&.is-style-polygon-slant-up-sm + .is-style-polygon-slant-up-sm,
	&.is-style-polygon-slant-up-md + .is-style-polygon-slant-up-md,
	&.is-style-polygon-slant-down-sm + .is-style-polygon-slant-down-sm,
	&.is-style-polygon-slant-down-md + .is-style-polygon-slant-down-md, {
		margin-top: var( --polygon-quad-spacer );
	}

	&.is-style-polygon-slant-up-sm {
		--polygon-quad-spacer: -4rem;
		--polygon-quad-1-xy: 0 4rem;
		--polygon-quad-3-xy: 100% calc( 100% - 4rem );
	}

	&.is-style-polygon-slant-up-md {
		--polygon-quad-spacer: -8rem;
		--polygon-quad-1-xy: 0 8rem;
		--polygon-quad-3-xy: 100% calc( 100% - 8rem );
	}

	&.is-style-polygon-slant-down-sm {
		--polygon-quad-spacer: -4rem;
		--polygon-quad-2-xy: 100% 4rem;
		--polygon-quad-4-xy: 0 calc( 100% - 4rem );
	}

	&.is-style-polygon-slant-down-md {
		--polygon-quad-spacer: -8rem;
		--polygon-quad-2-xy: 100% 8rem;
		--polygon-quad-4-xy: 0 calc( 100% - 8rem );
	}

	&.is-style-tilt-right {
		transform: scale(0.99, 0.99) rotate(2deg);
	}

	&.is-style-tilt-left {
		transform: scale(0.99, 0.99) rotate(-2deg);
	}
}

// Really, Gutenberg?
.wp-block-cover-image.has-custom-content-position.has-custom-content-position .wp-block-cover__inner-container,
.wp-block-cover.has-custom-content-position.has-custom-content-position .wp-block-cover__inner-container {
	width: 100%;
	max-width: 100%;
}
