////
/// Media text block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/mythic
////

.wp-block-media-text {
	margin-top: var( --wp--custom--spacing--8 );
	margin-bottom: 0;

	grid-gap:   var( --wp--custom--spacing--8 );

	+ .wp-block-media-text {
		margin-top: 0;
	}

	.wp-block-media-text__content {
		padding: var( --wp--custom--spacing--8 );
		padding-left: 0;
	}

	.wp-block-media-text__media:not(.is-image-fill) {
		padding: var( --wp--custom--spacing--8 );
		padding-right: 0;
	}

	&.has-media-on-the-right.has-background:not(.is-image-fill) .wp-block-media-text__media {
		padding-right: var( --wp--custom--spacing--8 );
		padding-left: 0;
	}

	&.has-media-on-the-right .wp-block-media-text__content {
		padding-right: 0;
		padding-left: var( --wp--custom--spacing--8 );
	}

	&.is-vertically-aligned-top:not(.has-background) .wp-block-media-text__content {
		padding-top: 0;
	}

	&.is-vertically-aligned-bottom:not(.has-background) .wp-block-media-text__content {
		padding-bottom: 0;
	}

	@media ( max-width: $screen-md ) {
		&.is-stacked-on-mobile {
			// Need !important here to override inline styles.
			grid-template-columns: 100% !important;

			.wp-block-media-text__media {
				grid-column: 1;
				grid-row: 1;
			}

			.wp-block-media-text__media:not(.is-image-fill) {
				padding: var( --wp--custom--spacing--8 );
				padding-bottom: 0;
			}

			.wp-block-media-text__content {
				grid-column: 1;
				grid-row: 2;
			}

			.wp-block-media-text__content {
				padding: var( --wp--custom--spacing--8 );
				padding-top: 0;
			}

			&:not(.has-background) .wp-block-media-text__content {
				padding-bottom: 0;
			}
		}
	}
}
