

.has-drop-cap:not(:focus)::first-letter {
	float: left;
	line-height: 1;
	font-size: 3.4em;
	font-weight: 600;
	margin: 0 0.125em 0 0;
	text-transform: uppercase;
}

p {
	&.is-style-box-primary,
	&.is-style-box-secondary {
		padding: 2rem;
		color: var( --wp--preset--color--neutral-900 );
		background-color: var( --wp--preset--color--neutral-100 );
		border-left: 15px solid var( --wp--preset--color--primary-700 );
		border-right: 2px solid var( --wp--preset--color--primary-700 );
		box-shadow: $shadow-md;
	}

	&.is-style-box-secondary {
		border-left-color: var( --wp--preset--color--secondary-700 );
		border-right-color: var( --wp--preset--color--secondary-700 );
	}

	&.has-background {
		box-sizing: content-box;
	}
}

.wp-block-columns p.has-background {
	box-sizing: border-box;
}
