////
/// Button block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.wp-block-button {
	font-family: var( --wp--preset--font-family--secondary );
}

.wp-block-button__link {
	// Make sure buttons are always tall enough for touch browsing.
	// @link https://www.w3.org/WAI/WCAG21/Understanding/target-size.html
	min-height: 44px;

	// Using inline-block adds a weird space below buttons with
	// rounded borders. Block is fine here because it has a wrapper
	// element of .wp-block-button.
	display: block;

	text-decoration: none;
	border-radius: 0; // override gb default.

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

:not(.is-style-outline) > .wp-block-button__link {
	&:hover,
	&:focus {
		background-color: var( --wp--preset--color--primary-800 );
	}
}

@mixin buttons_hover( $from, $to ) {
	a.has-#{ $from }-background-color:hover,
	a.has-#{ $from }-background-color:focus {
		background-color: var( --wp--preset--color--#{ $to } ) !important;
	}
}

@include buttons_hover( primary-800, primary-900 );
@include buttons_hover( primary-700, primary-800 );
@include buttons_hover( primary-600, primary-700 );
@include buttons_hover( primary-500, primary-600 );
@include buttons_hover( primary-400, primary-500 );
@include buttons_hover( primary-300, primary-400 );
@include buttons_hover( primary-200, primary-300 );
@include buttons_hover( primary-100, primary-200 );

@include buttons_hover( secondary-800, secondary-900 );
@include buttons_hover( secondary-700, secondary-800 );
@include buttons_hover( secondary-600, secondary-700 );
@include buttons_hover( secondary-500, secondary-600 );
@include buttons_hover( secondary-400, secondary-500 );
@include buttons_hover( secondary-300, secondary-400 );
@include buttons_hover( secondary-200, secondary-300 );
@include buttons_hover( secondary-100, secondary-200 );
@include buttons_hover( "transparent", rgba( 255, 255, 255, 0.2 ) );
@include buttons_hover( "white", rgba( 255, 255, 255, 0.2 ) );


@mixin buttons_hover_text( $from, $to ) {
	a.has-#{ $from }-color:hover,
	a.has-#{ $from }-color:focus {
		color: var( --wp--preset--color--#{ $to } ) !important;
	}
}

@include buttons_hover_text( primary-800, primary-900 );
@include buttons_hover_text( primary-700, primary-900 );
@include buttons_hover_text( primary-600, primary-800 );
@include buttons_hover_text( primary-500, primary-700 );
@include buttons_hover_text( primary-400, primary-600 );
@include buttons_hover_text( primary-300, primary-500 );
@include buttons_hover_text( primary-200, primary-400 );
@include buttons_hover_text( primary-100, primary-300 );

@include buttons_hover_text( secondary-800, secondary-900 );
@include buttons_hover_text( secondary-700, secondary-900 );
@include buttons_hover_text( secondary-600, secondary-800 );
@include buttons_hover_text( secondary-500, secondary-700 );
@include buttons_hover_text( secondary-400, secondary-600 );
@include buttons_hover_text( secondary-300, secondary-500 );
@include buttons_hover_text( secondary-200, secondary-400 );
@include buttons_hover_text( secondary-100, secondary-300 );


// Need to overwrite GB.
.wp-block-buttons > .wp-block-button {
	margin: 0;
}

.wp-block-buttons .wp-block-button {
	&.wp-block-button__width-25 { width: calc( 25% - #{ $spacing-half * 3 / 4 } ); }
	&.wp-block-button__width-50 { width: calc( 50% - #{ $spacing-fourth } ); }
	&.wp-block-button__width-75 { width: calc( 75% - #{ $spacing-fourth / 2 } ); }
	&.wp-block-button__width-100 { width: 100%; }
}

.is-style-no-gap .wp-block-button {
	&.wp-block-button__width-25 { width: 25%; }
	&.wp-block-button__width-50 { width: 50%; }
	&.wp-block-button__width-75 { width: 75%; }
}

@media ( max-width: $screen-sm ) {
	.wp-block-buttons .wp-block-button {
		&.wp-block-button__width-25 { width: 50%; }
		&.wp-block-button__width-50 { width: 100%; }
		&.wp-block-button__width-75 { width: 100%; }
	}
}

.is-style-link .wp-block-button__link {
	min-height: 0;
	margin-top: 0.75rem;
	padding: 0.25rem 0;
	background: transparent;
	border-bottom: 3px solid currentColor;
	text-decoration: none;

	&:hover,
	&:focus {
		background-color: rgba( 255, 255, 255, 0.2 );
	}
}

.is-style-outline .wp-block-button__link {
	padding: 1rem 2rem;
	color: currentColor;
	background-color: transparent;
	border: 1px solid currentColor;
}

.is-style-overline .wp-block-button__link {
	box-shadow: inset 0 4px 0 0 rgba( 0, 0, 0, 0.25 );
}

.is-style-tilt-right .wp-block-button__link {
	transform: skewX( -16deg );
}

.is-style-tilt-left .wp-block-button__link {
	transform: skewX( 16deg );
}

.is-style-underline .wp-block-button__link {
	box-shadow: inset 0 -4px 0 0 rgba( 0, 0, 0, 0.25 );
}
