////
/// Cover (media) block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/mythic
////

// The cover media `<div>` element. The media is added as a background.
.wp-block-cover {
	position:            relative;
	background-size:     cover;
	background-position: 50%;
	min-height:          430px;
	//margin:              0 0 $spacing-global;
	margin-top:          $spacing-global;
	padding:             $spacing-global $spacing-global 0;
	display:             flex;
	justify-content:     center;
	align-items:         center;
	text-shadow: 1px 1px 2px rgba( 0, 0, 0, 0.5 );
	color:     var( --white );
	background-color:    var( --black );
	box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.12 ),
	            0 1px 2px rgba( 0, 0, 0, 0.24 );
	border-radius: 3px;
	box-sizing: border-box;

	&.alignfull {
		border-radius: 0;
	}

	// Parallax images should have a fixed background so that the image
	// stays in place while everything else scrolls.
	&.has-parallax {
		background-position: 0 0; // This keeps the image from jumping.
		background-attachment: fixed;
	}

	// Left/Right text content.
	&.has-left-content {
		justify-content: flex-start;
	}

	&.has-right-content {
		justify-content: flex-end;
	}

	&__video-background {
		position:   absolute;
		width:      100%;
		height:     100%;
		top:        50%;
		left:       50%;
		object-fit: fill;
		transform:  translateX(-50%) translateY(-50%);
		z-index:    1;
	}
}

.wp-block-cover__inner-container,
.wp-block-cover-text {
	z-index: 2;
	max-width: $width-alignwide;
	color: var( --white );

	a:not(.wp-block-button__link) {
		color: inherit;
	}

	a:not(.wp-block-button__link):hover,
	a:not(.wp-block-button__link):focus {
		color:      var( --white );
		background: rgba( 255, 255, 255, 0.2 );
	}
}

.wp-block-cover__inner-container {
	z-index:   1;

	> *:not([class*="-color"]) {
		color: inherit;
	}
}

// Paragraph of text shown within the cover image element.
.wp-block-cover-text {
	font-size:     2.75rem;
	text-align:    center;

	@media ( max-width: $content-width ) {
		font-size: 2.25rem;
	}
}

// Left-aligned text.
.has-left-content .wp-block-cover-text {
	text-align: left;
}

// Right-aligned text.
.has-right-content .wp-block-cover-text {
	text-align: right;
}
