////
/// Cover (media) block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/mythic
////

// The cover media `<div>` element. The media is added as a background.
.wp-block-cover {
	position:            relative;
	background-size:     cover;
	background-position: 50%;
	min-height:          240px;
	height:              auto;
	box-sizing: border-box;

	// Need this because navigation dropdown will
	// be covered by the Cover block.
	z-index: 0;

	&.alignright,
	&.alignleft {
		width: 100%;
		max-width: $content-width;
	}

	&.is-style-square {
		aspect-ratio: 1 / 1;
	}

	@media ( min-width: $screen-md ) {
		&.is-style-content-width-25 .wp-block-cover__inner-container {
			flex: 0 0 25%;
		}

		&.is-style-content-width-50 .wp-block-cover__inner-container {
			flex: 0 0 50%;
		}

		&.is-style-content-width-75 .wp-block-cover__inner-container {
			flex: 0 0 75%;
		}
	}

	&[class*=is-style-polygon] {
		--polygon-quad-spacer: 0;
		--polygon-quad-1-xy: 0 0;
		--polygon-quad-2-xy: 100% 0;
		--polygon-quad-3-xy: 100% 100%;
		--polygon-quad-4-xy: 0 100%;

		clip-path: polygon(
			var( --polygon-quad-1-xy ),
			var( --polygon-quad-2-xy ),
			var( --polygon-quad-3-xy ),
			var( --polygon-quad-4-xy )
		);
	}

	&.is-style-polygon-slant-up-sm + .is-style-polygon-slant-up-sm,
	&.is-style-polygon-slant-up-md + .is-style-polygon-slant-up-md,
	&.is-style-polygon-slant-down-sm + .is-style-polygon-slant-down-sm,
	&.is-style-polygon-slant-down-md + .is-style-polygon-slant-down-md, {
		margin-top: var( --polygon-quad-spacer );
	}

	&.is-style-polygon-slant-up-sm {
		--polygon-quad-spacer: -4rem;
		--polygon-quad-1-xy: 0 4rem;
		--polygon-quad-3-xy: 100% calc( 100% - 4rem );
	}

	&.is-style-polygon-slant-up-md {
		--polygon-quad-spacer: -8rem;
		--polygon-quad-1-xy: 0 8rem;
		--polygon-quad-3-xy: 100% calc( 100% - 8rem );
	}

	&.is-style-polygon-slant-down-sm {
		--polygon-quad-spacer: -4rem;
		--polygon-quad-2-xy: 100% 4rem;
		--polygon-quad-4-xy: 0 calc( 100% - 4rem );
	}

	&.is-style-polygon-slant-down-md {
		--polygon-quad-spacer: -8rem;
		--polygon-quad-2-xy: 100% 8rem;
		--polygon-quad-4-xy: 0 calc( 100% - 8rem );
	}

	&.is-style-polygon-slant-up-sm {
	//	clip-path: polygon(0 4rem, 100% 0%, 100% calc( 100% - 4rem ), 0% 100%);
	}

	&.is-style-polygon-slant-up-md {
	//	clip-path: polygon(0 8rem, 100% 0%, 100% calc( 100% - 8rem ), 0% 100%);
	}

	&.is-style-polygon-slant-up-sm + .is-style-polygon-slant-up-sm {
	//	margin-top: -4rem;
	}

	&.is-style-polygon-slant-up-md + .is-style-polygon-slant-up-md {
	//	margin-top: -8rem;
	}

	&.is-style-polygon-slant-down-sm {
	//        clip-path: polygon( 0 0, 100% 4rem, 100% 100%, 0 calc( 100% - 4rem ) );
	}

	&.is-style-polygon-slant-down-md {
	//	clip-path: polygon( 0 0, 100% 8rem, 100% 100%, 0 calc( 100% - 8rem ) );
	}

	&.is-style-polygon-slant-down-sm + .is-style-polygon-slant-down-sm {
	 //       margin-top: -4rem;
	}

	&.is-style-polygon-slant-down-md + .is-style-polygon-slant-down-md {
	 //       margin-top: -8rem;
	}


	&.is-style-tilt-right {
		transform: scale(0.99, 0.99) rotate(2deg);
	}


	&.is-style-tilt-left {
		transform: scale(0.99, 0.99) rotate(-2deg);
	}

	a:hover,
	a:focus {
		background-color: rgba( 255, 255, 255, 0.15 );
	}
}

// Really, Gutenberg?
.wp-block-cover-image.has-custom-content-position.has-custom-content-position .wp-block-cover__inner-container,
.wp-block-cover.has-custom-content-position.has-custom-content-position .wp-block-cover__inner-container {
	width: 100%;
	max-width: 100%;
}
