////
/// Cover (media) block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/mythic
////

// The cover media `<div>` element. The media is added as a background.
.wp-block-cover {
	position:            relative;
	background-size:     cover;
	background-position: 50%;
	//height:              100%; // Necessary for user-selected height.
	min-height:          240px;
	height:              auto;
	//margin-top:          $spacing-global;
	//padding:             $spacing-global;
	box-sizing: border-box;

	&.is-style-mosaic {
		position: relative;


		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
		background-image:
			linear-gradient( var( --wp--preset--color--white ), var( --wp--preset--color--white ) ),
			linear-gradient(var( --wp--preset--color--white ), var( --wp--preset--color--white )),
			linear-gradient(var( --wp--preset--color--white ), var( --wp--preset--color--white ));
		background-size:
			100% 1rem,
			1rem 100%,
			1rem calc( 33.33% + 0.67rem );
		background-position:
			0 calc( 66.67% - 1rem ),
			calc( 33.33% - 1rem ) 0,
			calc( 66.67% - 1rem ) bottom;
		background-repeat: no-repeat;

		}
	}

	&.alignright,
	&.alignleft {
		width: 100%;
		max-width: $content-width;
	}

	&.is-style-square {
		aspect-ratio: 1 / 1;
	}

	a:hover,
	a:focus {
		background-color: rgba( 255, 255, 255, 0.15 );
	}
}

// Really, Gutenberg?
.wp-block-cover-image.has-custom-content-position.has-custom-content-position .wp-block-cover__inner-container,
.wp-block-cover.has-custom-content-position.has-custom-content-position .wp-block-cover__inner-container {
	width: 100%;
}
