////
/// Editor stylesheet.
///
/// This is the primary editor stylesheet. It is used for the WordPress 5.0+
/// block editor (Gutenberg) and is not intended for older versions of the
/// WordPress edit screen.
///
/// @group  Styles
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

// Import settings and tools.
@import 'settings/_index';
@import 'tools/_index';

// Prefixes all of the styles with `.edit-post-visual-editor` for use within
// the block editor.
.edit-post-visual-editor {

	// Import styles that are needed *just* for the editor. There's no need
	// to import everything, such as styles that don't have an effect on
	// block output.

	//@import 'elements/_index';
	@import 'elements/defaults';
	@import 'elements/block';
	@import 'elements/code';
	//@import 'elements/forms';
	@import 'elements/headings';
	@import 'elements/inline';
	@import 'elements/links';
	@import 'elements/lists';
	@import 'elements/media.scss';
	@import 'elements/quotes.scss';
	@import 'elements/tables.scss';

	@import 'blocks/_index';
	@import 'utilities/_index';
}

.edit-post-visual-editor.editor-styles-wrapper {
	font-family: font-family( primary );
	font-size:   16px;
	color:       var( --color-primary );
	background:  var( --color-background );
}

.editor-writing-flow {
	@include typography;
}

// Fix for paragraphs.
//.editor-styles-wrapper .wp-block-paragraph {
//	font-size: 1.1875em;
//	line-height: 2;
//}

// The editor should conform to the content width.  We also need to add 30px b/c
// of the padding and margin in the editor.
.wp-block {
	max-width: $content-width + 30px;
	//@include typography;
}

.wp-block[data-align="wide"] {
	max-width: 930px;
}

.wp-block[data-align="full"] {
	max-width: none;
}

.edit-post-visual-editor.editor-styles-wrapper {

	.wp-block[data-align="left"] .editor-block-list__block-edit {
		margin-right: 1.5em;
		margin-bottom: 0.25em;
	}

	.wp-block[data-align="right"] .editor-block-list__block-edit {
		margin-left: 1.5em;
		margin-bottom: 0.25em;
	}
}

// Editor post title.
.editor-post-title__block .editor-post-title__input {
	line-height: 1.58;
	font-family: font-family( 'headings' );
	font-weight: 700;
	color:       var( --color-headings );

	letter-spacing: 1px;
	text-align: center;

	@media only screen and ( min-width: 950px ) {
	//	font-size: 2.75rem;
		max-width    : 950px;
	}
}

// Button block margin is too large in editor.
.edit-post-visual-editor .wp-block-button {
	margin-bottom: 0;
}

// Code block fixes. The code block in the editor is a `<textarea>`.
.wp-block-code {
	@include code-block;
	width: calc( 100% + #{ $spacing-2x } );
}

.wp-block-code .editor-plain-text,
.wp-block-code .editor-plain-text:focus {
	font-size: inherit;
	background: inherit;
	color: inherit;
}

// Cover block.
// Make sure inner blocks span the full width of the container.
.wp-block-cover__inner-container .wp-block {
	max-width: 100%;
}

// Class is used in the editor but not the front end.
// Copied from `/elements/_quotes.scsss` and `/blocks/core/_pullquote.scss`.

// Gutenberg 5.3 fix.
.wp-block-pullquote {
	border-width: 0;
	padding: 0;

	&.is-style-solid-color blockquote {
		max-width: 100%;
		text-align: center;
	}
}

.wp-block-pullquote__citation,
.wp-block-quote__citation {
	font-size: 0.875em;
	font-style: normal;
	font-variant: small-caps;
}

.wp-block-pullquote__citation {
	margin-bottom: $spacing-global;
}

// Fix for wide/full align in editor.
.edit-post-visual-editor.editor-styles-wrapper .alignwide,
.edit-post-visual-editor.editor-styles-wrapper .alignfull {
	box-sizing: border-box;
	margin-left: 0;
	margin-right: 0;
	max-width: 100%;
}

.editor-block-list {
	&__layout &__block[data-align=full] > &__block-edit figure {
		width: auto;
		margin-left: 0;
		margin-right: 0;
	}
}

// Media text fixes.

// Add appropriate padding to left/right.
[data-align="full"] .wp-block-media-text {
	padding-left: $spacing-global;
	padding-right: $spacing-global;
}

.wp-block-media-text .editor-inner-blocks {
	padding: 0;
}
