////
/// Customize controls styles.
///
/// Styles should focus on the customize controls panel. This covers panels,
/// sections, and controls.
///
/// @group  CustomizeControls
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

// Widens the "mobile" device view a bit.
.preview-mobile .wp-full-overlay-main {
	margin-left: -240px;
	width:       480px;
	height:      568px;
}

// Add a separator between font controls.
.customize-control-exhale-font {
	padding-bottom: 12px;
	border-bottom:  1px solid #ddd;

	&:last-of-type {
		padding-bottom: 0;
		border-bottom:  none;
	}
}
