
.customize-control-exhale-background-svg {

	.svg-background {

		&__block {
			box-sizing: border-box;
			max-width:  100%;
			height:     64px;
			margin:     8px 0;
			border:     1px solid #ccc;
			outline:    3px solid transparent;
		}

		label:hover .svg-background__block,
		label:focus .svg-background__block {
			outline-color: #ccc;
		}

		input[type=radio]:checked + .svg-background__block {
			border-color:  #00a0d2;
			outline-color: #00a0d2;
		}
	}
}
