////
/// Typography control.
///
/// Styles for the typography customize control.
///
/// @group  CustomizeControls
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

// Add a separator between font controls.
.customize-control-exhale-typography {
	padding-bottom: 12px;
	border-bottom:  1px solid #ddd;

	&:last-of-type {
		padding-bottom: 0;
		border-bottom:  none;
	}
}
