////
/// Group block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.wp-block-group {
	//max-width: 100%;
	margin-top: 0;

	&::after {
		content:    ".";
		display:    block;
		height:     0;
		clear:      both;
		visibility: hidden;
	}

	&.is-style-inline-children {
		width: 100%;
		display: flex;
		gap: 1rem;

		> * {
			margin-top: 0;
		}
	}

}

.wp-block-group__inner-container {
	//margin-left:  auto;
	//margin-right: auto;

	@media ( min-width: $content-width-padded ) {
	//	max-width: 100%;
	}
}
