////
/// Group block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.wp-block-group {

	&::after {
		content:    ".";
		display:    block;
		height:     0;
		clear:      both;
		visibility: hidden;
	}

	&.has-background {
	//	margin-bottom: $spacing-global;
		margin-top:    $spacing-global;
		padding:       $spacing-global;
	}

                           > *,
	&__inner-container > * {
		margin-left:  $spacing-global;
		margin-right: $spacing-global;

		@media ( min-width: $content-width-padded ) {
			max-width:    $content-width;
			margin-left:  auto;
			margin-right: auto;
		}
	}
}

.wp-block-group__inner-container {
	margin-left:  auto;
	margin-right: auto;

	@media ( min-width: $content-width-padded ) {
		max-width: 100%;
	}
}
