////
/// Latest comments block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.wp-block-latest-comments {
	display: grid;
	grid-row-gap: $spacing-global;
	list-style: none;
	padding: 0;

	&__comment {
		clear: both;
	//	margin-bottom: $spacing-global;
	}

	// We need nested selectors here to overwrite the core editor's right
	// margin of `10px` on `.wp-block-latest-comments.has-avatars .avatar`.
	.wp-block-latest-comments__comment-avatar {
		float:         left;
		margin-right:  $spacing-half;
	//	margin-bottom: $spacing-half;
	//	margin-top:    $spacing-half;
		border-radius: 50%;
	}

	&__comment-meta {
		// components/_text-secondary.scss
		padding-top: 0.75rem;
	}

	&__comment-date {
		display: block;
	}

	&__comment-excerpt {
		clear:       both;
		margin-top:  $spacing-half;
		padding-top: $spacing-half;
		border-top:  1px solid var( --color-border );
	}
}

.has-excerpts .wp-block-latest-comments__comment {
	//margin-bottom: 0;
}

.has-dates .wp-block-latest-comments__comment-avatar {
	margin-top: 2px;
}

.has-dates .wp-block-latest-comments__comment-meta {
	padding-top: 0;
}
