////
/// Columns block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.wp-block-columns {
	margin-top: var( --wp--custom--spacing--8 );
	margin-bottom: 0;

	--columns-flex-gap: #{ $spacing-global };

	&.is-style-no-gap {
		--columns-flex-gap: 0rem;
	}
}

.wp-block-columns {
	gap: var( --columns-flex-gap );

	// Cancel out GB.
	&.has-background {
		padding: 0;
	}

	> .wp-block-column {
		margin-left:  0 !important;
		margin-right: 0 !important;
	}

	// Overwriting GB's breakpoint.
	@media (min-width: 600px) and (max-width: 781px) {
		.wp-block-column:not(:only-child) {
			flex-basis: calc( 50% - var( --columns-flex-gap ) / 2 ) !important;
			flex-grow:  1;
		}
	}

	@media ( min-width: 782px ) and ( max-width: $screen-lg ) {
		flex-wrap: wrap;

		// Three and Four Columns.
		.wp-block-column:first-child:nth-last-child(2),
		.wp-block-column:first-child:nth-last-child(2) ~ .wp-block-column,
		.wp-block-column:first-child:nth-last-child(3),
		.wp-block-column:first-child:nth-last-child(3) ~ .wp-block-column,
		.wp-block-column:first-child:nth-last-child(4),
		.wp-block-column:first-child:nth-last-child(4) ~ .wp-block-column {
			flex-basis: calc( 50% - var( --columns-flex-gap ) / 2 ) !important;
			flex-grow:  1;
		}

		// Five and Six Columns.
		.wp-block-column:first-child:nth-last-child(5),
		.wp-block-column:first-child:nth-last-child(5) ~ .wp-block-column,
		.wp-block-column:first-child:nth-last-child(6),
		.wp-block-column:first-child:nth-last-child(6) ~ .wp-block-column {
			flex-basis: calc( calc( 100% / 3 ) - var( --columns-flex-gap ) * 2 / 3 ) !important;
			flex-grow:  0;
		}
	}
}

// Remove left/right margin when in a group with padding.
@media ( max-width: $width-alignwide + $spacing-2x ) {

	.wp-block-group.has-background .wp-block-columns {
		margin-left: 0;
		margin-right: 0;
	}
}
