////
/// Button block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.wp-block-tag-cloud {
	margin-top: var( --wp--custom--spacing--8 );
	margin-bottom: 0;

	&.is-style-pill-outline,
	&.is-style-rectangle-outline {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;

		.tag-cloud-link {
			text-decoration: none;
			font-size: var( --wp--preset--font-size--base ) !important;
			padding: 0.25rem 0.5rem;
			border: 1px solid currentColor;

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}

	&.is-style-pill-outline .tag-cloud-link {
		border-radius: 9999px;
	}
}
