////
/// Pullquote block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.wp-block-post-title {
	font-family: var( --wp--preset--font-family--headings );

	a {
		text-decoration: none;
	}

	a:hover,
	a:focus {
		text-decoration: underline;
	}
}
