////
/// Verse block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////


.wp-block-verse {
	margin-top:  $spacing-global;
	padding:     var( --wp--custom--spacing--8 );
	line-height: inherit;
	font-family: inherit;
	font-size:   inherit;
	color:       inherit;
	background-color: var( --wp--preset--color--neutral-100 );
	border-left:      4px solid var( --wp--preset--color--primary-500 );
	box-shadow:  none;
	box-sizing: content-box;
}
