
// If an emoji image is the first child of a list item,
// give it a little padding. It is likely being used as
// a faux bullet. See book review patterns.
li > .emoji:first-child {
	margin-right: 0.5rem;
}

li > .emoji + .emoji {
	margin-right: 0.5rem;
	margin-left: -0.25rem;
}

ul.is-style-primary-striped,
ol.is-style-primary-striped {
	list-style: none;
	padding: 0;
	li {
		padding: 0.5rem 1rem;
	}
	li:nth-child(odd) {
		background-color: var( --wp--preset--color--primary-100 );
	}
}

ul.is-style-divided,
ol.is-style-divided {
	list-style: none;
	padding: 0;
	li {
		padding: 0.5rem 1rem;

		+ li {
			border-top: 1px solid var( --wp--preset--color--neutral-300 );
		}
	}
}

ul.is-style-padded,
ol.is-style-padded,
ul.is-style-flex-items,
ol.is-style-flex-items {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

// Need to target element to overwrite GB defaults.
ul.is-style-marker-info,
ol.is-style-marker-info,
ul.is-style-primary-marker-circle-decimal,
ol.is-style-primary-marker-circle-decimal,
ul.is-style-primary-marker-dot,
ol.is-style-primary-marker-dot,
ul.is-style-primary-marker-decimal,
ol.is-style-primary-marker-decimal,
ul.is-style-primary-marker-dash,
ol.is-style-primary-marker-dash,
ul.is-style-primary-marker-info,
ol.is-style-primary-marker-info,
ul.is-style-table,
ol.is-style-table {
	list-style: none !important;
	display: flex;
        padding: 0;
}

.is-style-marker-info,
.is-style-primary-marker-circle-decimal,
.is-style-primary-marker-dot,
.is-style-primary-marker-decimal,
.is-style-primary-marker-dash,
.is-style-primary-marker-info {
	counter-reset:  list-counter;
	flex-direction: column;
	gap:            1rem;

	> li {
		position: relative;
		counter-increment: list-counter;
		padding-left: 2rem;

	}
	li::before {
		content: counter( list-counter, decimal-leading-zero );
		position: absolute;
		top: calc( 100% - 1em - 1.5rem );
		left: 0;
		color:       var( --wp--preset--color--primary-700 );
		font-size:   1.5rem;
		line-height: 1;
		font-family: var( --wp--preset--font-family--mono );
	}
}

.is-style-primary-marker-decimal {
	li {
		padding-left: 2.5rem;
	}
	li::before {
		top: calc( 100% - 1.75rem );
	}
}

.is-style-marker-info,
.is-style-primary-marker-circle-decimal,
.is-style-primary-marker-info {
	li {
		padding-left: 3rem;
	}
	li::before {
		content: counter( list-counter, decimal );
		font-size: 1rem;
		top: calc( 100% - 2rem );
		width: 2rem;
		height: 2rem;
		border-radius: 50%;
		color: var( --wp--preset--color--primary-100 );
		background: var( --wp--preset--color--primary-700 );
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.is-style-primary-marker-info li::before {
	content: "i";
	font-style: italic;
        color: var( --wp--preset--color--primary-700 );
        background: var( --wp--preset--color--primary-200 );
}

.is-style-marker-info li::before {
	content: "i";
	font-style: italic;
        color: var( --wp--preset--color--neutral-700 );
        background: var( --wp--preset--color--neutral-300 );
}

.is-style-primary-marker-dot {
	li {
		padding-left: 1rem;
	}
	li::before {
		content: "";
		top: calc( 100% - 0.5em - 6px );
		width: 6px;
		height: 6px;
		background: var( --wp--preset--color--primary-700 );
		border-radius: 50%;
	}
}

.is-style-primary-marker-dash {
	> li {
		padding-left: 1.5rem;
	}
	> li::before {
		content: "\2014";
		top: 0.1em;
	}
}

.is-style-table {
	flex-flow:       column wrap;
	justify-content: center;
	align-items:     stretch;
	align-content:   stretch;
	border:          1px solid var( --wp--preset--color--neutral-300 );

	> li {
		flex:       1 1 100%;
		align-self: auto;
		padding:    var( --wp--custom--spacing--4 ) var( --wp--custom--spacing--8 );

		+ li {
			border-top: 1px solid;
			border-color: inherit;
		}
	}

	@media ( min-width: $screen-md ) {
		flex-flow: row nowrap;

		> li {
			padding: var( --wp--custom--spacing--4 ) var( --wp--custom--spacing--2 );
			text-align: center;

			+ li {
				border-top: none;
				border-left: 1px solid;
				border-color: inherit;
			}
		}
	}
}
