////
/// Group block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.wp-block-group {
	margin-top: $spacing-global;

	&::after {
		content:    ".";
		display:    block;
		height:     0;
		clear:      both;
		visibility: hidden;
	}

	&.is-var-padded {
	//	padding: var( --wp--custom--spacing--8 );
	}

	&.is-style-inline-children {
		width: 100%;
		display: flex;
		gap: 1rem;

		> * {
			margin-top: 0;
		}
	}

	@media ( min-width: $screen-md ) {
		&.is-style-text-columns-2 {
			columns: 2 auto;
			column-gap: 4rem;
		}
	}
}
