////
/// Group block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.wp-block-group {
	margin-top: var( --wp--custom--spacing--8 );
	margin-bottom: 0;

	&::after {
		content:    ".";
		display:    block;
		height:     0;
		clear:      both;
		visibility: hidden;
	}

	&.is-var-padded {
	//	padding: var( --wp--custom--spacing--8 );
	}

	&.is-style-flex {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		align-items: start;

		> * { margin-top: 0; }
	}
}

header.wp-block-group,
footer.wp-block-group,
main.wp-block-group,
section.wp-block-group,
article.wp-block-group,
aside.wp-block-group {
	margin-top: 0;
}
