
.wp-block-social-links {
	margin-top: $spacing-global;
	margin-bottom: 0;
	column-gap: $spacing-half;
	row-gap: $spacing-half;

	// need to triple selector to override GB.
	.wp-social-link.wp-social-link.wp-block-social-link {
	//	margin: $spacing-half $spacing-fourth 0;
		margin: 0;
	}

	&.items-justified-left .wp-social-link.wp-block-social-link {
	//	margin: $spacing-half $spacing-half 0 0;
	}

	&.items-justified-right .wp-social-link.wp-block-social-link {
	//	margin: $spacing-half 0 0 $spacing-half;
	}

	.wp-block-social-link {
		.wp-block-social-link-anchor {
			border-radius: inherit;
		}
	}

	&.is-style-logos-only {

		.wp-social-link.wp-block-social-link {
			padding: 0;
		}

		.wp-block-social-link {
			.wp-block-social-link-anchor {
				padding: 0;
			}
		}
	}

	&.is-style-circle-ringed .wp-block-social-link,
	&.is-style-pill-ringed .wp-block-social-link,
	&.is-style-square-ringed .wp-block-social-link {

		border: 1px solid currentColor;

		svg {
			width: .75em;
			height: .75em;
		}
	}

	&:not([class*=is-style-]) .wp-block-social-link,
	&.is-style-default .wp-block-social-link,
	&.is-style-square .wp-block-social-link,
	&.is-style-circle-ringed .wp-block-social-link,
	&.is-style-square-ringed .wp-block-social-link,
	&.is-style-underline .wp-block-social-link {

		.wp-block-social-link-anchor,
		button {
			padding: 0.375em;
		}
	}

	&.is-style-pill-ringed .wp-block-social-link,
	&.is-style-pill-shape .wp-block-social-link,
	&.is-style-underline .wp-block-social-link {
		width: auto;

		.wp-block-social-link-anchor,
		button {
			padding-left: calc((2/3) * 1.25em);
			padding-right: calc((2/3) * 1.25em);
		}
	}

	&.is-style-square .wp-block-social-link,
	&.is-style-square-ringed .wp-block-social-link,
	&.is-style-underline .wp-block-social-link {
		border-radius: 0;
	}

	&:not([class*=is-style-]) .wp-block-social-link,
	&.is-style-default .wp-block-social-link,
	&.is-style-square .wp-block-social-link,
	&.is-style-pill-shape .wp-block-social-link,
	&.is-style-underline .wp-block-social-link {
		svg {
			width: .75em;
			height: .75em;
		}
	}

	&.is-style-underline .wp-block-social-link-anchor,
	&.is-style-underline button {
		box-shadow: inset 0 -4px 0 0 rgba( 0, 0, 0, 0.25 ) !important;
	}

}
