

.has-drop-cap:not(:focus)::first-letter {
	float: left;
	line-height: 1;
	font-size: 3.4em;
	font-weight: 600;
	margin: 0 0.125em 0 0;
	text-transform: uppercase;
}

p {
	&.is-style-box-primary,
	&.is-style-box-secondary {
		padding: 2rem;
		color: var( --wp--preset--color--neutral-900 );
		background-color: var( --wp--preset--color--neutral-100 );
		border-left: 15px solid var( --wp--preset--color--primary-700 );
		border-right: 2px solid var( --wp--preset--color--primary-700 );
		box-shadow: $shadow-md;
	}

	&.is-style-box-secondary {
		border-left-color: var( --wp--preset--color--secondary-700 );
		border-right-color: var( --wp--preset--color--secondary-700 );
	}

	&.is-style-info,
	&.is-style-error,
	&.is-style-warning {
		display: flex;
		gap: 1rem;

		&::before {
			content: "i";
			font-family: var( --wp--preset--font-family--mono );
			font-style: italic;
				font-size: 1rem;
				width: 2rem;
				height: 2rem;
			//	margin: 1em 0 0;
		    border-radius: 50%;
		    color: currentColor;
		    background: rgba( 255, 255, 255, 0.1 );
		    border: 1px solid currentColor;
		    flex: 0 0 2rem;
		    display: flex;
		    justify-content: center;
		align-items: center;
		}
	}

	&.is-style-error::before {
		content: "\00D7";
		font-style: normal;
		font-weight: bold;
	}

	&.is-style-warning::before {
		content: "!";
		font-style: normal;
		font-weight: bold;
	}
}

p.has-background,
p.is-style-highlight {
	box-sizing: content-box;
}

.wp-block-columns p.has-background,
.wp-block-columns p.is-style-highlight {
	box-sizing: border-box;
}

.is-style-highlight {
	background:       var( --neutral-100 );
	background-image: linear-gradient( rgba(0,0,0,0.25) 8px, 8px, transparent 100% );
}
