////
/// App footer component.
///
/// @group  Components
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.app-footer {
	padding-bottom: 1.5rem;

	&__credit {
		@include meta;
		margin-bottom: 0.5rem;
		text-align: center;
	}
}
