////
/// App footer component.
///
/// @group  Components
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.app-footer {
	// @todo Footer with background will need top/bottom padding.
	padding: 0 $spacing-global;

	&__credit {
		// components/_text-secondary.scss
		margin-bottom: $spacing-half;
		text-align: center;
	}
}
