////
/// App header component.
///
/// @group  Components
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.app-header {
	//display:       flex;
	//height:        4rem;
	//box-sizing:    border-box;
	background:    var( --color-header-background );
	//border-bottom: 1px solid var( --color-header-border );

	.admin-bar &.sticky {
		top: 32px;

		@media screen and ( max-width: 782px ) {
			top: 46px;
		}

		@media screen and ( max-width: 600px ) {
			top: 0;
		}
	}

	&,
	* {
		border-color: var( --color-header-border );
	}


	// Wrapper around the title and description.
	&__branding {
	//	flex-grow: 1;
	//	display:   flex;
	//	overflow:  hidden;
	//	max-width: 50%;
	//	height:    4rem;
	//	padding:   0 $spacing-global;
		background:  var( --color-branding-background );
	}

	// Custom logo.
	&__logo-link {
		display: inline-block;
		// Centers our image no matter what size.
		margin: auto 0;
		line-height: 0;
	}

	&__logo {
		max-width: unset;
		width: auto;
		max-height: 58px;
		padding: 0;
		border: none;
		filter: none;
		box-shadow: none;
		border-radius: 0;

		&:hover {
			filter: none;
		}
	}

	// Title and description.
	&__title,
	&__description {
		white-space: nowrap;
	//	margin:      0;
	//	line-height: 1;
	}

	// The site title.
	&__title {
	//	padding:           19px 0;
	//	font-size:         20px;
	}

	.wp-custom-logo &__title {
		margin-left: $spacing-half;
	}

	// The site description.
	&__sep,
	&__description {
		color: var( --color-header-description );
	}

	&__description {
	//	margin-left: 1.5rem;
	//	padding:     22px 1.5rem 21px;
	//	font-size:   15px;
	//	border-color: var( --color-header-border );
	//	border-left: 1px solid var( --color-header-border );
	}

	// Site title link.
	&__title-link {
		color:           var( --color-header-title );
	//	text-decoration: none;

		&:hover,
		&:focus {
			color:           var( --color-header-title-hover );
	//		text-decoration: underline;
		}
	}

	@media ( max-width: $width-alignwide ) {

	//	display: block;

		&__branding {
	//		justify-content: center;
	//		flex-wrap: wrap;
	//		max-width:  unset;
	//		display:    block;
	//		text-align: center;
			background: var( --color-branding-background );
		}

		&__title,
		&__description {
	//		display: inline-block;
		}
	}
}
