////
/// App footer component.
///
/// @group  Components
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.app-footer {
	padding:          $spacing-global $spacing-global 0;
	overflow-y:       hidden;
	color:            var( --color-footer );
	background-color: var( --color-footer-background );
	border-top:       1px solid var( --color-footer-border );
	font-family:      var( --font-family-secondary );
	font-size:        16px;

	a {
		color: var( --color-footer-link );

		&:hover,
		&:focus {
			color: var( --color-footer-link-hover );
		}
	}

	&__credit {
		// components/_text-secondary.scss
		text-align:  center;

		.menu--footer + &,
		+ .menu--social {
			margin-top: -#{ $spacing-half };
		}
	}
}
