////
/// App header component.
///
/// @group  Components
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.app-header {
	overflow: hidden;
	width: 100%;
	height: 58px;
	box-sizing: border-box;
	padding: 0.75em 0 0.75em 1.5em;
	border-bottom: 1px solid color-rgba( border, 0.5 );

	// Wrapper around the title and description.
	&__branding {}

	// The site title.
	&__title {
		float: left;
		max-width: 200px;
		text-align: left;
		margin: 7px 0 0 0;
		font-size: 20px;
		font-family: font-family( 'headings' );
		font-weight: bold;
		line-height: 20px;
		text-align: center;
	}

	// Site title link.
	&__title-link {
		color: color-rgb( secondary-link );
		text-decoration: none;

		&:hover,
		&:focus {
			color: color-rgb( secondary-link-alt );
			text-decoration: underline;
		}
	}

	// The site description.
	&__description {}
}
