////
/// Archive header component.
///
/// @group  Components
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.archive-header {
	margin-bottom: 3rem;
	text-align: center;

	> * {
		margin-left:  $spacing-global;
		margin-right: $spacing-global;

		@media ( min-width: calc( #{ $content-width } + 64px ) ) {
			max-width:    $content-width;
			margin-left:  auto;
			margin-right: auto;
		}
	}

	&__title {
		@include heading-primary;
		margin-bottom: 0.53125rem;
	}

	&__description {
		// components/_text-secondary.scss
		margin-bottom: 0;
	}
}
