////
/// Comment component.
///
/// This is the component for handling individual comments in a comments list.
///
/// @group  Components
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.wp-block-post-comments .commentlist .comment {
	padding: var( --wp--custom--spacing--8 );
	box-sizing: content-box;

	&--depth-1 {
		border:        1px solid var( --wp--preset--color--neutral-300 );

		@media only screen and ( max-width: $content-width-padded ) {
			border-width:  0 0 1px;

			&:first-child {
				border-width: 1px 0;
			}
		}
	}

	// Type of comment.
	&--type-comment {}

	&--type-ping {}

	// Comment status.
	&--status-unapproved {}

	// Full comment text/content.
	&__content {}

	// Comment under moderation message.
	&__moderation {}

	// Metadata wrapper.
	&__meta {
		border-bottom: 1px solid var( --wp--preset--color--neutral-300 );
	}

	// Individual metadata items.
	&__avatar {
		float: left;
	}

	&__parent {
		svg {
			height:         1em;
			vertical-align: text-bottom;
			padding:        0 0.25em 0.1em;
		}
	}

	&__parent-link {}

	&__author {}

	&__permalink {}

	&__date {}

	&__time {}

	&__edit {}

	&__reply {}
}
