////
/// Comment respond form component.
///
/// @group  Components
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.comment-respond {
	margin:  0 -#{ $spacing-global } $spacing-global;
	padding: $spacing-global $spacing-global 0;
	border:  1px solid color-rgb( border );

	@media only screen and ( max-width: $content-width ) {

		.comments__list + & {
			border-width: 0 0 1px;
		}

		+ .comment--depth-1 {
			margin-top: -#{ $spacing-global };
			border-width: 0 0 1px;
		}
	}

	// Header/title for the respond section.
	&__reply-title {

		// Cancel reply link is wrapped in `<small>` element.
		small {
			font-size: .6125em;
		}
	}

	// The comment form.
	&__form textarea {
		max-height: 230px;
	}

	// Note section at the top of form.
	&__notes {}

	// Logged-in message at the top of the form.\
	&__notes,
	&__logged-in-as {
		@include meta;
	}

	.required {
		font-weight: bold;
		color:       color-rgb( primary-link );
	}

	// The wrapping element around individual form fields.
	&__field {

		&--comment {}
		&--author {}
		&--email {}
		&--url {}
		&--cookies {}
		&--submit {}
	}

	@media ( min-width: $content-width ) {

		&__field--author,
		&__field--email {
			box-sizing: border-box;
			width:      50%;
		}

		&__field--author {
			float:         left;
			padding-right: 1em;
		}

		&__field--email {
			float:         right;
			padding-left:  1em;
		}
	}

	&__submit {
		@media only screen and ( max-width: $content-width ) {
			width: 100%;
		}
	}

	// Comments closed message.
	&__closed {}
}

.children .comment-respond {
	margin: 0 -#{ $spacing-global } 0 -#{ $spacing-2x };
	border-width: 0;
	border-top-width: 1px;
}
