////
/// Comments component.
///
/// This component wraps the entire comments section.
///
/// @group  Components
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.comments {
	//margin: $spacing-global 0;

	> * {
		//	max-width:    $content-width;
		//	margin-left:  auto;
		//	margin-right: auto;
	}

	&__title,
	&__closed {
		//	padding-left:  $spacing-global;
		//	padding-right: $spacing-global;
	}

	// Header/title for the comments section.
	&__title {}

	// Comments list wrapper.
	//
	// Children lists (note that WP doesn't have a filter -- the
	// only way to change this class is with a custom Walker).
	// @link https://core.trac.wordpress.org/ticket/44923

	&__list {
		//	max-width: $content-width-padded;
	}

	//&__list,
	&__list .children {
		list-style: none;
		//margin-bottom: 0;
		padding:    0;
	}

	// Comments closed message.
	&__closed {
		// components/_text-secondary.scss
		//	text-align: center;
	}
}

.comment--depth-1 > .children {
	padding-left: $spacing-global;
}
