////
/// Entry component.
///
/// @group  Components
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.entry {

	// Header wrapper.
	&.has-post-thumbnail .entry__header {
		text-align: center;
	}

	// Entry title.
	&__title {
		margin-bottom: $spacing-fourth;

		a {
			color:           var( --color-headings );
			text-decoration: none;
		}

		a:hover,
		a:focus {
			text-decoration: underline;
		}
	}

	// Full entry content.
	&__content {}

	// Summary/Excerpt.
	&__summary {}

	// More link.
	&__more-link {
		font-style: italic;
	}

	// Meta wrappers.
	&__byline,
	&__footer {
		// components/_text-secondary.scss
		// @include meta-links;
	}

	&__byline {
		margin: 0 0 $spacing-fourth;
	}

	&.has-post-thumbnail .entry__byline {
		margin-bottom: $spacing-global;
	}

	&__footer {
		margin: $spacing-half 0 $spacing-global;
		text-align: center;
	}

	&__topics {
		a {
			margin: 0 0.25rem;
		}
	}
}

.single .entry,
.error-404 .entry {

	&__header {
		margin-bottom: 3rem;
		text-align: center;
	}

	&__title {
		@include heading-primary;
	}

	&__byline {
		margin: 0;
	}
}

// Push any full-width items if they are the first child to the top of the page.
// This cancels out the padding set on `.app-content`.

[class*=template-entry-content-only] .entry__content .alignfull:first-child {
	margin-top: -3rem;
}

// Post password form.

[name=post_password] {
	margin-bottom: $spacing-global;
}
