////
/// Entry component.
///
/// @group  Components
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.entry {

	// Header wrapper.
	&__header {
		margin-bottom: $spacing-global;
		text-align:    center;

		+ .entry__summary {
			margin-top: calc( -#{ $spacing-global } + #{ $spacing-fourth } );
		}
	}

	// Entry title.
	&__title {
		margin-bottom: $spacing-fourth;

		a {
			color:           var( --color-headings );
			text-decoration: none;
		}

		a:hover,
		a:focus {
			text-decoration: underline;
		}
	}

	&__media {
		text-align: center;
	}

	&__image {
		padding: 0;
	}

	&__image.aligncenter {
		display: inline-block;
		margin-bottom: -0.75rem;
	}

	// Full entry content.
	&__content {}

	// Summary/Excerpt.
	&__summary {}

	// More link.
	&__more-link {
		font-style: italic;
	}

	// Meta wrappers.
	&__byline,
	&__footer {
		// components/_text-secondary.scss
		// @include meta-links;
	}

	&__footer {
		margin-top: $spacing-global;
		margin-bottom: $spacing-global;
	}

	&__topics {
		a {
			margin: 0 0.25rem;
		}
	}
}

.single .entry,
.error-404 .entry {

	&__title {
		@include heading-primary;
	}
}

// Remove the bottom margin from any full-aligned element if it's the last
// element in the content.

.entry__content > .alignfull:last-child {
	margin-bottom: 0;
}

// Push any full-width items if they are the first child to the top of the page.
// This cancels out the padding set on `.app-content`.

[class*=template-canvas] .entry__content > .alignfull:first-child,
[class*=template-landing-canvas] .entry__content > .alignfull:first-child,
[class*=template-entry-content-only] .entry__content > .alignfull:first-child {
	margin-top: -3rem;
}

// Post password form.

[name=post_password] {
	margin-bottom: $spacing-global;
}
