

.entry-list {
	margin-left:  $spacing-global;
	margin-right: $spacing-global;

	@media ( min-width: calc( #{ $content-width } + 64px ) ) {
		max-width:    $content-width;
		margin-left:  auto;
		margin-right: auto;
	}
}
