////
/// Entry component.
///
/// @group  Components
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.entry {

	// Type of entry/post.
	&--type-post {}

	&--type-page {}

	// Sticky posts.
	&.sticky {}

	// Featured image.
	&__image {
		margin: 1.414em 0 0.5em;
	}

	// Header wrapper.
	&__header {}

	// Entry title.
	&__title {
		font-size: 1.5rem;
	}

	// Full entry content.
	&__content {}

	// Summary/Excerpt.
	&__summary {}

	// Meta wrappers.
	&__byline,
	&__footer {
		@include meta;
	}

	&__byline {
		margin: 1em 0 0.5em 0;
	}

	&__footer {
		margin: 1em 0 2em;
		text-align: center;
	}

	&__topics {
		a {
			margin: 0 0.25rem;
		}
	}
}

.single .entry {

	&__header {
		margin-bottom: 3rem;
		text-align: center;
	}

	&__title {
		@include heading-primary;
	}

	&__byline {
		margin: 0;
	}
}
