////
/// Gallery (shortcode) component.
///
/// @group  Components
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.gallery {
	max-width : 100%;
	display   : block;
	clear     : both;
	margin    : 1.414em 0 1rem;

	&::after {
		content    : ".";
		display    : block;
		height     : 0;
		clear      : both;
		visibility : hidden;
	}

	&-item {
		width      : 100%;
		margin     : 0;
		padding    : 0 0 1rem;
		text-align : center;
		list-style : none;
		border     : none;
		background : transparent;
		box-sizing : border-box;
	}

	@media ( min-width: break( 'mobile' ) ) {

		&-item {
			float  : left;
			margin : 0 5% 5px 0;
			width: 47.5%;
		}
	}

	@media ( min-width: break( 'mobile' ) ) and ( max-width: break( 'small' ) ) {

		&-item:nth-child( 2n + 1 ) {
			clear: both;
		}

		&-item:nth-child( 2n ) {
			margin-left: 0;
			margin-right: 0;
		}
	}

	@media ( min-width: break( 'small' ) ) {

		&-columns-2  .gallery-item:nth-child( 2n  + 1 ),
		&-columns-3  .gallery-item:nth-child( 3n  + 1 ),
		&-columns-4  .gallery-item:nth-child( 4n  + 1 ) {
			clear : both;
		}

		&-columns-2  .gallery-item:nth-child( 2n  ),
		&-columns-3  .gallery-item:nth-child( 3n  ),
		&-columns-4  .gallery-item:nth-child( 4n  ) {
			margin-left : 0;
			margin-right : 0;
		}

		// Handle the columns.
		&-columns-3 .gallery-item  { width : 30%;    }
		&-columns-4 .gallery-item  { width : 21.25%; }
	}

	img {
		width      : auto;
		max-width  : 100%;
		height     : auto;
		margin     : 0 auto;
	}

	&-caption {
		margin     : 0;
		font-size  : 0.9375rem;
		box-sizing : border-box;
	}
}
