////
/// Nav menu component.
///
/// @group  Components
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.menu {

	&__items {
		list-style: none;
		margin:     0;
		padding:    0;
	}

	&__item,
	&__link {
		display: inline-block;
	}

	// Primary menu.

	&--primary {
		position:           relative;
		white-space:        nowrap;
		overflow-x:         auto;
		overflow-y:         hidden;
		scroll-behavior:    smooth;
		scrollbar-width:    none; // Firefox.
		-ms-overflow-style: -ms-autohiding-scrollbar;
		margin-left:        auto; // This aligns the menu to the right.

		font-family: var( --font-family-secondary );
		font-size:   16px;
		line-height: 1;
		color:       var( --color-menu-primary );

		&::-webkit-scrollbar {
			display: none;
		}

		&.menu--scroll {
			padding-left: 2rem;

			.menu__items {
				text-align: left;
			}
		}

		@media ( max-width: $content-width ) {

			border-top: 1px solid var( --color-header-border );

			.menu__items {
				text-align: center;
			}

			&.menu--scroll .menu__items {
				text-align: left;
			}
		}

		&.menu--scroll::before {
			content:     "\027f7";
			position:    absolute;
			line-height: 58px;
			left:        1.25rem;
		}

		.menu__item {
			display: inline;
		}

		.menu__link {
			padding:         21px 1.5rem;
			text-decoration: none;
			color:           inherit;

			&:hover,
			&:focus {
				text-decoration: underline;
				color:           var( --color-menu-primary-hover );
			}
		}
	}

	// Centered menus.
	&--footer,
	&--social {
		text-align:    center;
		margin-bottom: $spacing-global;
	}

	// Footer menu.

	&--footer {
		.menu__item {
			margin: 0 $spacing-half;
		}
		.menu__link {
			text-decoration: none;

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}

	// Social menu.

	&--social {

		.menu__link {
			margin:   0.5rem;

			svg {
				width:  24px;
				height: 24px;
			}
		}
	}
}
