////
/// Pagination component.
///
/// @group  Components
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.pagination {
	clear       : both;
	overflow    : hidden;
	margin      : $spacing-global 0;
	text-align  : center;
	font-family : font-family( secondary );
	font-size   : 15px;
}

.pagination__items {
	list-style  : none;
	display    : inline-block;
	margin  : 0;
	padding: 0;
	/* Get rid of whitespace between inline-block elements. */
	font-size   : 0px;
}

.pagination__item {
	display     : inline-block;
	margin      : 0 -1px 0 0;
	font-size   : 15px;
	font-weight: 600;
}

.pagination__anchor {
	display : block;
	padding: 0.375rem 1.125rem;
	border: 1px solid var( --color-border );
	text-decoration: none;
}

	.pagination__anchor--link:hover,
	.pagination__anchor--link:focus {
		color        : var( --color-content-background );
		background   : var( --color-primary );
		border-color : var( --color-primary );
		text-decoration: underline;
	}

@media only screen and ( max-width: 650px ) {

	.pagination__item { display: none; }

	.pagination__item--current,
	.pagination__item--prev,
	.pagination__item--next { display: inline-block; }
}
