////
/// Nav menu component.
///
/// @group  Components
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.menu {

	&--primary {
		font-family: font-family( 'secondary' );
		font-size:   16px;
		line-height: 16px;
		color: var( --color-menu-primary );

		.menu__items {
			margin: 0;
			padding: 0;
		}

		.menu__item {
			display: inline;
		}

		.menu__link {
			display: inline-block;
			padding:  21px 1.5rem;
			text-decoration: none;
			color:    var( --color-menu-primary );

			&:hover,
			&:focus {
				text-decoration: underline;
				color: var( --color-menu-primary-alt );
			}
		}
	}

	&--social {

		.menu__items {
			list-style: none;
			text-align: center;
			margin: 0 0 1.5rem;
			padding: 0;
		}

		.menu__item {
			display: inline-block;
		}

		.menu__link {
			display: inline-block;
			margin:   0.5rem;
			color:    var( --color-secondary-link );

			&:hover,
			&:focus {
				color: var( --color-secondary-link-alt );
			}

			svg {
				width: 24px;
				height: 24px;
			}
		}
	}
}
