////
/// Sidebar component.
///
/// @group  Components
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.sidebar {

	&--primary {}

	&--footer {
	//	margin:           -#{ $spacing-global} 0 $spacing-global;
	//	padding-top:      $spacing-global;
		color:            var( --color-sidebar-footer );
		background-color: var( --color-sidebar-footer-background );
		border-color:     var( --color-footer-border );

		h1:not( .has-text-color ),
		h2:not( .has-text-color ),
		h3:not( .has-text-color ),
		h4:not( .has-text-color ),
		h5:not( .has-text-color ),
		h6:not( .has-text-color ) {
			color: var( --color-sidebar-footer-headings );
		}

		a {
			color: var( --color-sidebar-footer-link );

			&:hover,
			&:focus {
				color: var( --color-sidebar-footer-link-hover );
			}
		}

		input,
		select,
		textarea {
			background:   var( --color-sidebar-footer-background );
			border-color: currentColor;
		}

		input[type="submit"],
		input[type="reset"],
		input[type="button"],
		button {
			border-color: currentColor;
		}
	}

	&__title {}
}
