////
/// Widget component.
///
/// @group  Components
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.widget {

	// Widget titles.
	&__title {
		margin-top: 0;
		color:      inherit;
	}

	// Core widgets.
	&--archives {}
	&--calendar {}

	&--categories {
		.postform {
			margin-bottom: $spacing-global;
		}
	}

	&--custom-html {}
	&--media-audio {}
	&--media-gallery {}
	&--media-image {}
	&--media-video {}
	&--meta {}
	&--nav-menu {}
	&--pages {}
	&--recent-comments {}
	&--recent-posts {}
	&--rss {}
	&--text {}
	&--search {}
	&--tag-cloud {}

	.tagcloud {
		margin-bottom: $spacing-global;
	}
}
