////
/// Calendar block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.wp-block-calendar,
.calendar_wrap {

	th,
	td {
		text-align: center;
	}

	tfoot td {
		border: none;
	}

	#prev {
		text-align: left;
	}

	#next {
		text-align: right;
	}
}
