////
/// Calendar block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.wp-block-calendar {

	margin-top: $spacing-global;

	table {
		border-collapse: separate;
		border-spacing:  2px;
	}

	tr {
		border-width: 0;
	}

	tbody td:not(.pad) {
		border-width: 1px;
	}

	// overwrite GB.
	table th {
		background-color: var( --wp--preset--color--gray-100 );
	}

	th,
	td {
		text-align: center;
	}

	tfoot td {
	//	border: none;
	}
}

.wp-calendar-nav {
	display: flex;
	justify-content: space-between;
}
