////
/// Gallery block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////


// The wrapper element for the entire gallery.
.wp-block-gallery {
	margin-bottom: $spacing-half;
	margin-top:    $spacing-half;

	// For figcaptions. Setting it on the block so that
	// core typography styles can overwrite.
	font-family: var( --wp--preset--font-family--secondary );

	> .blocks-gallery-grid {
		margin-top: 0;
	}

	// @todo solve width and X margin issue.
	// @todo classes may change with nested Image blocks.
	&.is-style-reverse > .blocks-gallery-grid {
		flex-direction: row-reverse;
	}

	.blocks-gallery-item {
		margin-top: $spacing-half;

		figcaption {
			padding-left: $spacing-half;
			padding-right: $spacing-half;
			padding-bottom: $spacing-fourth;
		}
	}

	&.is-style-classic,
	&.is-classic {
		.blocks-gallery-item {
			justify-content: start;
		}

		figure {
			flex-direction: column;
			height: auto;
		}

		img {
			height: auto;
		}

		figcaption {
			position:       initial;
			padding-top:    0;
			padding-bottom: 0;
			margin-top:     $spacing-fourth;
			color:          var( --wp--preset--color--gray-600 );
			background:     unset;
		}
	}
}
