////
/// Gallery block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

// The wrapper element for the entire gallery.
.wp-block-gallery {
	display:         flex;
	flex-wrap:       wrap;
	list-style-type: none;
	padding:         0;
	margin-bottom:   $spacing-half;

	&.is-style-reverse {
		flex-wrap: wrap-reverse;
	}

	&.alignfull,
	&.alignwide {
		margin-bottom: $spacing-half;
	}

	&.alignfull {
		padding: 0 $spacing-half;
	}

	@media ( max-width: calc( #{ $width-alignwide } + #{ $spacing-global } ) ) {

		&.alignfull,
		&.alignwide {
			padding: 0 calc( #{ $spacing-global } );
		}
	}
}

// The wrapper for individual gallery images/figures.
.blocks-gallery-item {
	display:         flex;
	flex-grow:       1;
	flex-direction:  column;
	justify-content: center;
	position:        relative;
	margin:          0 $spacing-half $spacing-half 0;

	// Image figure.
	figure {
		margin:          0;
		height:          100%;
		display:         flex;
		align-items:     flex-end;
		justify-content: flex-start;
	}

	img {
		display:   block;
		max-width: 100%;
		height:    auto;
		width:     auto;
	}

	figcaption {
		box-sizing: border-box;
		position:   absolute;
		bottom:     0;
		width:      100%;
		max-height: 100%;
		padding:    40px $spacing-half $spacing-fourth;
		font-size:  16px;
		text-align: center;
		color:      var( --white );
		background: linear-gradient(
			0deg,
			rgba( 0, 0, 0, 0.7 ) 0,
			rgba( 0, 0, 0, 0.3 ) 60%,
			transparent
		);
		border-radius: 3px;

		a {
			color: inherit;
		}

		a:hover,
		a:focus,
		a:active {
			color:      var( --white );
			background: rgba( 255, 255, 255, 0.2 );
		}
	}
}

// Cropped images.
.is-cropped .blocks-gallery-item {
	a,
	img {
		flex:       1;
		width:      100%;
		height:     100%;
		object-fit: cover;
	}
}

// Fallback to 2 columns.
.blocks-gallery-item {
	width: calc( 100% / 2 - #{ $spacing-half } );

	&:nth-of-type( even ) {
		margin-right: 0;
	}
}

// 1 column.
.columns-1 > .blocks-gallery-item {
	width:        100%;
	margin-right: 0;
}

// 3-8 columns on larger screens.
@media ( min-width: $content-width ) {

	@for $i from 3 through 8 {

		.columns-#{ $i } > .blocks-gallery-item {
			width: calc( 100% / #{ $i } - #{ $spacing-half } );
			margin-right: $spacing-half;
		}
	}

	// Reset margin for last child on each row.
	@for $i from 1 through 8 {
		.columns-#{ $i } > .blocks-gallery-item:nth-of-type( #{ $i }n ) {
			margin-right: 0;
		}
	}
}

// Always reset margin on last child.
.blocks-gallery-item:last-child {
	margin-right: 0;
}
