////
/// Gallery block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.wp-block-gallery,
.blocks-gallery-grid {
	--gallery-flex-gap: #{ $spacing-half };

	column-gap: var( --gallery-flex-gap );
	row-gap:    var( --gallery-flex-gap );
}

.wp-block-gallery.is-style-no-gap,
.wp-block-gallery.is-style-no-gap > .blocks-gallery-grid {
	--gallery-flex-gap: 0rem;
}

// The wrapper element for the entire gallery.
.wp-block-gallery {
	margin-top: $spacing-global;

	// For figcaptions. Setting it on the block so that
	// core typography styles can overwrite.
	font-family: var( --wp--preset--font-family--secondary );

	> .blocks-gallery-grid {
		margin-top: 0;
	}

	.blocks-gallery-grid figcaption {
		font-size: inherit; 	// Overwrite GB.
		font-family: inherit;
	}

	.blocks-gallery-item {
		flex: auto;

		figcaption {
			padding-left:   $spacing-half;
			padding-right:  $spacing-half;
			padding-bottom: $spacing-fourth;
		}
	}

	&.is-classic {
		.blocks-gallery-item {
			justify-content: start;
		}

		figure {
			flex-direction: column;
			height: auto;
		}

		img {
			height: auto;
		}

		figcaption {
			position:       initial;
			padding-top:    0;
			padding-bottom: 0;
			margin-top:     $spacing-fourth;
			color:          var( --wp--preset--color--neutral-600 );
			background:     unset;
		}
	}
}

// Fallback to 2 columns.
.wp-block-gallery .blocks-gallery-item {
	width: calc( 50% - var( --gallery-flex-gap ) / 2 );
	margin: 0;
}

.wp-block-gallery {

	&[class*=columns-] .blocks-gallery-item {
		margin: 0;
	}

	&.columns-1 .blocks-gallery-item {
		width: 100%;
	}

	@media ( min-width: 600px ) {

		&.columns-3 .blocks-gallery-item,
		&.columns-5 .blocks-gallery-item,
		&.columns-6 .blocks-gallery-item {
			width: calc( 100% / 3 - var( --gallery-flex-gap ) * 2 / 3 );
		}

		&.columns-4 .blocks-gallery-item,
		&.columns-7 .blocks-gallery-item
		&.columns-8 .blocks-gallery-item {
			width: calc( 100% / 4 - var( --gallery-flex-gap ) * 3 / 4 );
		}
	}

	@media ( min-width: $screen-md ) {

		&.columns-5 .blocks-gallery-item,
		&.columns-6 .blocks-gallery-item {
			width: calc( 100% / 3 - var( --gallery-flex-gap ) * 2 / 3 );
		}

		&.columns-7 .blocks-gallery-item,
		&.columns-8 .blocks-gallery-item {
			width: calc( 100% / 4 - var( --gallery-flex-gap ) * 3 / 4 );
		}
	}

	@media ( min-width: $screen-lg ) {

		&.columns-5 .blocks-gallery-item {
			width: calc( 100% / 5 - var( --gallery-flex-gap ) * 4 / 5  );
		}

		&.columns-6 .blocks-gallery-item {
			width: calc( 100% / 6 - var( --gallery-flex-gap ) * 5 / 6 );
		}

		&.columns-7 .blocks-gallery-item {
			width: calc( 100% / 7 - var( --gallery-flex-gap ) * 6 / 7 );
		}

		&.columns-8 .blocks-gallery-item {
			width: calc( 100% / 8 - var( --gallery-flex-gap ) * 7 );
		}
	}
}
