////
/// Code block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

// Checked.  No styles needed.

.wp-block-code {

	&.is-style-striped-light,
	&.is-style-striped-dark {
		line-height: 2rem;
		background-size: 4rem 4rem;
	}

	&.is-style-striped-light {
		background-color: var( --wp--preset--color--primary-100 );
		background-image: linear-gradient(
			rgba( 255, 255, 255, 0.5 ) 50%,
			transparent 50%, transparent
		);
	}

	&.is-style-striped-dark {
		color: var( --wp--preset--color--primary-100 );
		background-color: var( --wp--preset--color--primary-900 );
		background-image: linear-gradient(
			rgba( 0, 0, 0, 0.05 ) 50%,
			transparent 50%, transparent
		);
	}
}
