// Tables.

table {
	width           : 100%;
	border-collapse : collapse;
	border-spacing  : 0;
	text-align     : left;
	font-size      : var( --wp--preset--font-size--base );
}

caption {
	margin: 0 0 5px;
}

th,
thead,
tfoot {
	font-weight: 700;
}

tr {
	border-bottom-width: 1px;
}

tbody tr:last-child,
tfoot tr {
	border-bottom-width: 0;
}

tfoot tr {
	border-top-width: 1px;
}

th,
td {
	padding        : $spacing-half;
	box-sizing     : border-box;
	vertical-align : top;

	&:empty,
 	&.pad { opacity : 0; }
}
