////
/// Custom mixins.
///
/// @group  Tools
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

// Used for the main content.

@mixin typography {
	font-size:   1.125rem; // 19px
	line-height: 1.75;
}

@mixin heading-primary {
	text-align: center;

	@media only screen and ( min-width: #{ $width-alignwide } ) {
		max-width: $width-alignwide;
	}
}

@mixin meta {
	font-family: var( --font-family-secondary );
	font-size: 16px;
	color: var( --color-secondary );
}

@mixin meta-links {
	a {
		color: var( --color-secondary-link );
	}

	a:hover,
	a:focus {
		color: var( --color-secondary-link-hover );
	}
}

@mixin code-block {
	tab-size      : 4;
	padding       : $spacing-global;
	font-family   : font-family( 'code' );
	font-size     : inherit;
	line-height   : inherit;
	border        : 1px solid var( --color-border );
	box-sizing    : content-box;
	margin-bottom : $spacing-global;
}

@mixin button {
	cursor:          pointer;
	display:         inline-block;
	margin:          0;
	padding:         $spacing-half $spacing-global;
	line-height:     1;
	font-family:     var( --font-family-secondary );
	font-size:       1.125rem;
	text-decoration: none;
	color:           var( --color-content-background );
	background:      var( --color-primary );
	border:          none;
	border-radius:   3px;
	white-space:     normal;
	word-break:      break-all;
	transition:      all 0.5s ease-in-out;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}
