////
/// Custom mixins.
///
/// @group  Tools
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

// Used for the main content.

@mixin typography {
	font-size:   1.1875rem; // 19px
	line-height: 1.8;
}

@mixin heading-primary {
	text-align: center;

	@media only screen and ( min-width: 900px ) {
		max-width: 900px;
	}
}

@mixin meta {
	font-family: var( --font-family-secondary );
	font-size: 16px;
	color: var( --color-secondary );
}

@mixin meta-links {
	a {
		color: var( --color-secondary-link );
	}

	a:hover,
	a:focus {
		color: var( --color-secondary-link-hover );
	}
}

@mixin code-block {
	tab-size      : 4;
	padding       : $spacing-global;
	font-family   : font-family( 'code' );
	font-size     : inherit;
	line-height   : inherit;
	border        : 1px solid var( --color-border );
	box-sizing    : content-box;
	margin-bottom : $spacing-global;
}
