////
/// Custom mixins.
///
/// @group  Tools
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

// Used for the main content.

@mixin typography {
	font-size:   19px;
	line-height: 1.8;
}

@mixin heading-primary {
	text-align: center;

	@media only screen and ( min-width: 950px ) {
		margin-left:  -150px;
		margin-right: -150px;
		max-width:     950px;
	}
}

@mixin meta {
	font-family: font-family( secondary );
	font-size: 1rem;
	color: var( --color-secondary );
}

@mixin meta-links {
	a {
		color: var( --color-secondary-link );
	}

	a:hover,
	a:focus {
		color: var( --color-secondary-link-alt );
	}
}

@mixin code-block {
	tab-size      : 4;
	margin        : 0 -#{ $spacing-global } $spacing-global;
	padding       : $spacing-global;
	font-family   : font-family( 'code' );
	font-size     : inherit;
	line-height   : inherit;
	border        : 1px solid var( --color-border );
	box-sizing    : border-box;
}
