////
/// Button block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.wp-block-button__link {
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

// Need to overwrite GB.
.wp-block-buttons > .wp-block-button {
	margin: 0;
}

.wp-block-buttons .wp-block-button {
	&.wp-block-button__width-25 { width: calc( 25% - #{ $spacing-fourth } ); }
	&.wp-block-button__width-50 { width: calc( 50% - #{ $spacing-fourth } ); }
	&.wp-block-button__width-75 { width: calc( 75% - #{ $spacing-fourth } ); }
}

.is-style-no-gap .wp-block-button {
	&.wp-block-button__width-25 { width: 25%; }
	&.wp-block-button__width-50 { width: 50%; }
	&.wp-block-button__width-75 { width: 75%; }
}


.is-style-outline .wp-block-button__link {
	padding: 1rem 2rem;
}

.is-style-outline .wp-block-button__link {
	border: 1px solid currentColor;
}

.is-style-outline .wp-block-button__link:not(.has-background) {
	background: transparent;
}

.is-style-outline .wp-block-button__link:not(.has-text-color) {
	color: inherit;
}
