////
/// Helper classes.
///
/// @group  Utilities
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////


:not([data-align]) > :first-child {
//	margin-top: 0;
}

header > :first-child,
footer > :first-child,
main > :first-child,
article > :first-child,
aside > :first-child,
section > :first-child,
blockquote > :first-child,
figure > :first-child,
div:not([class*=wp-block]) > :first-child,
form > :first-child,
.wp-block-column > :first-child,
.wp-block-group > :first-child,
.wp-block-column > .wp-block-group,
.wp-block-template-part > :first-child,
.wp-block-post-content > :first-child,
.wp-block-post-excerpt > :first-child,
.wp-block-media-text__media > :first-child,
.wp-block-media-text__content > :first-child,
.wp-block-cover > :first-child,
.wp-block-cover__inner-container > :first-child
{
	margin-top: 0;
}

// hide separator if it's last child.
.sep:last-child {
	display: none;
}

:is( h1, h2, h3, h4, h5, h6 ) {
	+ *:not([style*=margin-top]) {
		margin-top: $spacing-half;
	}

	+ :is( h2, h3, h4, h5 ):not([style*=margin-top]) {
		margin-top: $spacing-fourth / 2;
	}
}

hr + :is( h1, h2, h3, h4, h5, h6 ) {
	margin-top: $spacing-global;
}

/// Clear floats.

.clear {
	clear: both;
}

// Adds a box-shadow to elements.

p.has-background,
p.is-style-highlight {
	padding: $spacing-global;
}
