////
/// Image block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.wp-block-image {

	img {
	//	display: block;
	}

	&.alignfull img {
		border-radius: 0;
	}

	&.alignfull img,
	&.alignwide img {
		margin-left:  auto;
		margin-right: auto;
		display:      block;
	}

	&.is-resized {
		width: min-content;

		// Emulate min-content for Edge and IE11
		display: -ms-inline-grid;
		-ms-grid-columns: min-content;

		figcaption {
			-ms-grid-row: 2;
		}

		img {
			max-width: none;
		}
	}

	figcaption {
		// components/_text-secondary.scss
	//	text-align: center;
	}
}
