////
/// Embed block.
///
/// @group  Blocks
/// @author Justin Tadlock <justintadlock@gmail.com>
/// @link   https://themehybrid.com/themes/exhale
////

.wp-block-embed {

	// Caption below embedded content.
	figcaption {
	//	margin-top: 0.5em;
	//	text-align: center;
	}
}

.is-type-video {

	.wp-block-embed__wrapper {
		display:        block;
		position:       relative;
		width:          100%;
		height:         0;
		padding-bottom: 56.25%; // 16:9 ratio
		//margin-bottom:  $spacing-global;
		margin-top:     $spacing-global;

		iframe,
		object,
		embed {
			position:  absolute;
			top:       0;
			left:      0;
			width:     100%;
			max-width: 100%;
			height:    100%;
		}
	}
}
