
// Bottom margin for all block-level elements not covered elsewhere.
p,
hr,
address,
table,
figure {
	margin-bottom: $spacing-global;
}

// Paragraphs.
p {
	&:empty {
		display: none;
	}
}

// Horizontal rules.
hr {
	height:     0;
	border:     none;
	border-top: 2px solid var( --color-border );
}
