
// Paragraphs.
p {
	margin: 0 0 $spacing-global;

	&:empty {
		margin      : 0;
		padding     : 0;
		line-height : 0;
	}
}

// Horizontal rules.
hr {
	height:        0;
	margin-bottom: $spacing-global;
	border:        none;
	border-top: 2px solid color-rgb( border );
}

// Address.
address {
	margin-bottom: $spacing-global;
}
