
// Bottom margin for all block-level elements not covered elsewhere.
p,
hr,
address,
table,
figure {
	margin-top: $spacing-global;
	margin-bottom: 0;
}

// Paragraphs.
p {
	&:empty {
		display: none;
	}
}

// Horizontal rules.
hr:not(.wp-block-separator) {
	height:     0;
	border:     none;
	border-top: 1px solid var( --color-border );
}
