// Code.

pre,
code {
	direction : ltr;
	text-align: left;
}

code {
	padding    : 0.5em;
	font-family: font-family( 'code' );
    	font-size  : 0.875em;
	font-style:  normal;
	color:       inherit;
	background : rgba( 214, 224, 231, 0.25 );
	border-radius: 3px;
}

pre {
	@include code-block;
	overflow      : auto;
	word-wrap     : normal;

	code {
		padding    : 0;
		font-size  : 15px;
		background : transparent;
	}
}

.comment__content pre {
	border-left: none;
	border-right: none;
}
