// All headings.
h1, h2, h3, h4, h5, h6, th, dt,
.app-header__title {
	font-family:       var( --font-family-headings );
	font-weight:       var( --font-weight-headings,       400    );
	font-style:        var( --font-style-headings,        normal );
	font-variant-caps: var( --font-variant-caps-headings, normal );
	text-transform:    var( --text-transform-headings,    none   );
}

// Headings.
h1, h2, h3, h4, h5, h6 {
	margin:            0 0 0.5em;
	line-height:       1.58;
	color:             var( --color-headings );

	em, i {
		font-style: var( --font-style-headings-italic, italic );
	}

	strong, b {
		font-weight: var( --font-weight-headings-bold, 700 );
	}
}

*:not(div) + h2,
*:not(div) + h3,
*:not(div) + h4 {
	margin-top: 1.414em;
}

h1 {
	font-size:  3rem;

	@media ( max-width: $content-width ) {
		font-size: 2.5rem;
	}
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.25rem;
}

h5 {
	font-size: 1.125rem;
}

h6 {
	font-size: 1rem;
}
