// Inline elements that don't have a more-specific folder.

// <center> tag.

center { text-align: center; }

// strong, bold, etc.
b,
strong { font-weight: 700; }

	b b,
	strong strong { font-weight: 400; }

// Emphasis, italics, etc.
i,
em,
mark,
cite { font-style : italic; }

i i,
em em,
mark mark,
cite cite { font-style : normal; }

// Abbreviations, acronymns, etc.

abbr[title],
acronym[title],
time[title] { cursor : help; }

abbr,
acronym {
	// @todo - Should be lightened version of primary color.
	border-bottom : 1px dotted var( --color-gray );
}

acronym { text-transform: uppercase; }

// Big

big { font-size : 1.125em; }

// Small, sup, sub.

small,
sup,
sub { font-size : 0.8125em; }

sup {
	vertical-align : baseline;
	position       : relative;
	bottom         : 0.3em;
}

sub {
	vertical-align : baseline;
	position       : relative;
	top            : 0.3em;
}

// Deletes, strikes, line-throughs.
del,
s,
strike {
	text-decoration:       line-through;
	text-decoration-color: var( --color-primary-link );
}

// Inserts.
ins {
	border-bottom:   1px dashed var( --color-green-light );
	text-decoration: none;
}

// Defintion.
dfn {
	font-style:      italic;
	text-decoration: none;
}
