// Lists.
ul,
ol {
	padding-left: $spacing-global;
	margin: 0 0 $spacing-global;

	@media ( max-width: break( 'mobile' ) ) {
		padding-left: $spacing-half;
	}

	&.aligncenter,
	&.aligncenter ul {
		list-style: none;
	}
}

// Remove bottom margin from lists that are direct children of a list item.
li > ul,
li > ol { margin-bottom : 0; }

dt {
	font-family: font-family( 'headings' );
	font-weight: var( --font-weight-headings );
	font-style:  var( --font-style-headings );
}

dd {
	display:       list-item;
	margin:        0 0 0.5em $spacing-global;

	+ dd {
		margin-top: -0.5em;
	}
}
