// Figures.
figcaption {
	display:       block;
	margin-top:    $spacing-fourth;
	margin-bottom: 0;
	text-align:    center;
	padding:       0 $spacing-global;
	color:         var( --wp--preset--color--neutral-600 );
	font-family:   var( --wp--preset--font-family--secondary );
	font-size:     var( --wp--preset--font-size--base );
}

// Images.
img {
	vertical-align: bottom;
	box-sizing:    border-box;
}

img,
svg {
	max-width: 100%;
	height:    auto;
}

a img {
	transition: all 0.5s ease-in-out;
}

a:hover img,
a:focus img {
	filter: grayscale( 70% );
}

// Embeds.

audio, video, object, embed, iframe {
	width: 100%;
}
