// Figures.
figure {
	margin-bottom : $spacing-global;
}

figcaption {
	@include meta;
	text-align: center;
}

// Images.
img {
	max-width: 100%;
	height:    auto;
	box-shadow: 0 1px 3px rgba( 0, 0, 0, 0.12 ),
	            0 1px 2px rgba( 0, 0, 0, 0.24 );
	border-radius: 3px;
	box-sizing: border-box;
}

a img {
	padding: 9px;
	border: 1px solid var( --color-border );
	box-shadow: 0 1px 2px 0px rgba( 0, 0, 0, 0.05 );

	&:hover,
	&:focus {
		border-color: var( --color-primary-link );
	}
}

// Embeds.

audio, video, object, embed, iframe {
	width: 100%;
}
