// Quotes.

blockquote {
	box-sizing: border-box;
	margin:     0;
	padding:    0 $spacing-global;
	font-style: italic;
	//color:      var( --color-primary );

	i,
	em,
	cite { font-style : normal; }
}

// Cite.
cite {
	font-size:    0.875em;
	font-style:   normal;
	font-variant: small-caps;
}

// Inline quotes.
q { quotes : '\201C' '\201D' '\2018' '\2019'; }
