// Quotes.

blockquote {
	box-sizing: border-box;
	margin:     $spacing-global 0 0;
	padding:    0 $spacing-global;
	font-style: italic;

	p i,
	p em { font-style : normal; }
}

// Cite.
cite {
	font-style:   normal;
}

// Inline quotes.
q { quotes : '\201C' '\201D' '\2018' '\2019'; }
